%h1 About us - yeee yeee -

we are 5 cool chicks who decided to change the world one day at the time and we are starting
with THIS Ruby application - BE PREPARED!!! We are coming to take over the WORLD of Ruby!!!
