%h1 About us - yeee yeee -

we are 5 cool chicks who decided to change the world one day at the time and we are starting
with THIS Ruby application - BE PREPARED!!! We are coming to take over the WORLD of Ruby!!!

.about_body
  .title ABOUT
  .main
    %p bla
    %p bla
    %p bla
    %p bla
    %p bla
    %p bla
  .us
  %p this is us
  = image_tag "IMG_0712.jpg"
