.jumbotron

  %h1.display-4 Contributions welcome
  %p.lead
    There are many ways to contribute, all are welcome
  %hr.my-2

  .card
    .card-header
      Use the service and spread the word
    .card-block
      %p.card-text
        You can add comments as a logged in user. And add tags to your own gems.
      %p.card-text
        We hope you find rubylaser useful and tell your friends about it.
  .card
    .card-header
      Feature ideas
    .card-block
      %p.card-text
        We know, there is lots of potential :-) We are especially looking for small and easily
        doable ideas. Check in the
        = ext_link "issues" , "https://github.com/webdev-camp/laser/labels/feature"
        and start a new one if your ideas is not there. And if you want/can, help with the
        implementation (see next section)
  .card
    .card-header
      Bug fixes, code contributions
    .card-block
      %p.card-text
        RubyLaser is open source, on github, standard rules of engagement apply:
        Check the
        = ext_link "issues" , "https://github.com/webdev-camp/laser/"
        and start a new one if you found a new bug.
      %p.card-text
        If you want to fix an issue, please let us know, and read the contribution guide.
        Basically use a feature branch if it's more than 10 lines, and
        consulting us before embarking on larger endeavours.  
