.logo1.style1.style2
  %svg{:height => "400px", :viewbox => "0 0 40 40", :width => "400px"}
    %defs
      %lineargradient#Gradient-1{:x1 => "0", :x2 => "100%", :y1 => "0", :y2 => "0"}
        %stop{:offset => "0%", "stop-color" => "lightred"}
        %stop{:offset => "100%", "stop-color" => "#ef5b2b"}

      %lineargradient#Gradient-2{:x1 => "0", :x2 => "100%", :y1 => "0", :y2 => "0"}
        %stop{:offset => "0%", "stop-color" => "#ffff66"}
        %stop{:offset => "50%", "stop-color" => "#ffffe6"}
        %stop{:offset => "100%", "stop-color" => "#ffffff"}

    %polygon.tri1.left{:fill => "url(#Gradient-1)", :points => "0,8.66 5,0 10,8.66", :stroke => "#FF8A65", "stroke-width" => "0.4"}
    %polygon.tri2.left{:fill => "url(#Gradient-1)", :points => "7.5,0 12.5,8.66 17.5,0", :stroke => "#FF8A65", "stroke-width" => "0.4"}
    %polygon.tri3.center{:fill => "url(#Gradient-1)", :points => "20,0 15,8.66 25,8.66", :stroke => "#FF8A65", "stroke-width" => "0.4"}
    %polygon.tri4.right{:fill => "url(#Gradient-1)", :points => "22.5,0 27.5,8.66 32.5,0", :stroke => "#FF8A65", "stroke-width" => "0.4"}
    %polygon.tri5.right{:fill => "url(#Gradient-1)", :points => "35,0 30,8.66 40,8.66", :stroke => "#FF8A65", "stroke-width" => "0.4"}
    %polygon.bigtri1.left{:fill => "url(#Gradient-1)", :points => "0,10 17.5,40 12.5,10", :stroke => "#FF8A65", "stroke-width" => "0.4"}
    %polygon.bigtri2.center{:fill => "url(#Gradient-1)", :points => "15,10 20,40 25,10", :stroke => "#FF8A65", "stroke-width" => "0.4"}
    %polygon.bigtri3.right{:fill => "url(#Gradient-1)", :points => "27.5,10 22.5,40 40,10", :stroke => "#FF8A65", "stroke-width" => "0.4"}

    %polygon.thunderbolt{:fill => "url(#Gradient-2)", :points => "20,0 10,22.5 20,22.5 20,40 30,17.5 20,17.5", :stroke => "#FF8A65", "stroke-width" => "0.4"}
