---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/activesupport.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"d9e3bdc86e76a091f25fe568596f3030"'
    body:
      encoding: ASCII-8BIT
      string: "---\nname: activesupport\ndownloads: 113503049\nversion: 5.0.1\nversion_downloads:
        213886\nplatform: ruby\nauthors: David Heinemeier Hansson\ninfo: A toolkit
        of support libraries and Ruby core extensions extracted from the Rails\n  framework.
        Rich support for multibyte strings, internationalization, time zones,\n  and
        testing.\nlicenses:\n- MIT\nmetadata: {}\nsha: 2db4123e8ce82bb7c62f43d89a5db591b17c9e6fc875f3df7c52b3942da07621\nproject_uri:
        https://rubygems.org/gems/activesupport\ngem_uri: https://rubygems.org/gems/activesupport-5.0.1.gem\nhomepage_uri:
        http://rubyonrails.org\nwiki_uri: \ndocumentation_uri: http://www.rubydoc.info/gems/activesupport/5.0.1\nmailing_list_uri:
        \nsource_code_uri: \nbug_tracker_uri: \ndependencies:\n  development: []\n
        \ runtime:\n  - name: concurrent-ruby\n    requirements: \">= 1.0.2, ~> 1.0\"\n
        \ - name: i18n\n    requirements: \"~> 0.7\"\n  - name: minitest\n    requirements:
        \"~> 5.1\"\n  - name: tzinfo\n    requirements: \"~> 1.1\"\n"
  recorded_at: Fri, 06 Jan 2017 17:09:58 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/activesupport.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Etag:
      - '"02504bf3f890c4cd108158b45db032a6"'
      Last-Modified:
      - Wed, 21 Dec 2016 00:06:19 GMT
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Rails 54.186.104.15:443
    body:
      encoding: ASCII-8BIT
      string: "---\n- authors: David Heinemeier Hansson\n  built_at: '2016-12-21T00:00:00.000Z'\n
        \ created_at: '2016-12-21T00:06:17.383Z'\n  description: A toolkit of support
        libraries and Ruby core extensions extracted from\n    the Rails framework.
        Rich support for multibyte strings, internationalization,\n    time zones,
        and testing.\n  downloads_count: 213886\n  metadata: {}\n  number: 5.0.1\n
        \ summary: A toolkit of support libraries and Ruby core extensions extracted
        from\n    the Rails framework.\n  platform: ruby\n  rubygems_version: \">=
        0\"\n  ruby_version: \">= 2.2.2\"\n  prerelease: false\n  licenses:\n  - MIT\n
        \ requirements: []\n  sha: 2db4123e8ce82bb7c62f43d89a5db591b17c9e6fc875f3df7c52b3942da07621\n-
        authors: David Heinemeier Hansson\n  built_at: '2016-12-09T00:00:00.000Z'\n
        \ created_at: '2016-12-09T19:11:39.354Z'\n  description: A toolkit of support
        libraries and Ruby core extensions extracted from\n    the Rails framework.
        Rich support for multibyte strings, internationalization,\n    time zones,
        and testing.\n  downloads_count: 3288\n  metadata: {}\n  number: 5.0.1.rc2\n
        \ summary: A toolkit of support libraries and Ruby core extensions extracted
        f[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/activesupport/owners.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"304767835361b2e7fd454f784c9bc7fa"'
    body:
      encoding: ASCII-8BIT
      string: "---\n- id: 71398\n  handle: kaspth\n  email: kaspth@gmail.com\n- id:
        528\n  handle: matthewd\n  email: matthew@trebex.net\n- id: 939\n  handle:
        senny\n  email: yves.senn@gmail.com\n- id: 59702\n  handle: chancancode\n
        \ email: godfreykfc@gmail.com\n- id: 662\n  handle: pixeltrix\n  email: andyw@pixeltrix.co.uk\n-
        id: 337\n  handle: \n  email: jeremy@bitsweat.net\n- id: 1550\n  handle: webster132\n
        \ email: david@loudthinking.com\n- id: 32977\n  handle: fxn\n  email: fxn@hashref.com\n-
        id: 207\n  handle: tenderlove\n  email: aaron.patterson@gmail.com\n- id: 840\n
        \ handle: spastorino\n  email: santiago@wyeworks.com\n- id: 43998\n  handle:
        guilleiguaran\n  email: guilleiguaran@gmail.com\n- id: 47349\n  handle: rafaelfranca\n
        \ email: rafaelmfranca@gmail.com\n- id: 429\n  handle: cantoniodasilva\n  email:
        carlosantoniodasilva@gmail.com\n"
  recorded_at: Fri, 06 Jan 2017 17:09:59 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/concurrent-ruby.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"677bc923318c971a0ca26644916f0a7a"'
    body:
      encoding: ASCII-8BIT
      string: |
        ---
        name: concurrent-ruby
        downloads: 13499595
        version: 1.0.4
        version_downloads: 220073
        platform: ruby
        authors: Jerry D'Antonio, Petr Chalupa, The Ruby Concurrency Team
        info: |
          Modern concurrency tools including agents, futures, promises, thread pools, actors, supervisors, and more.
          Inspired by Erlang, Clojure, Go, JavaScript, actors, and classic concurrency patterns.
        licenses:
        - MIT
        metadata: {}
        sha: ebd266064280cf52fab521ddd369d51a95f6aff664119e229b07101a6088f25c
        project_uri: https://rubygems.org/gems/concurrent-ruby
        gem_uri: https://rubygems.org/gems/concurrent-ruby-1.0.4.gem
        homepage_uri: http://www.concurrent-ruby.com
        wiki_uri: ''
        documentation_uri: http://ruby-concurrency.github.io/concurrent-ruby/frames.html
        mailing_list_uri: https://groups.google.com/forum/#!forum/concurrent-ruby
        source_code_uri: https://github.com/ruby-concurrency/concurrent-ruby
        bug_tracker_uri: https://github.com/ruby-concurrency/concurrent-ruby/issues
        dependencies:
          development: []
          runtime: []
  recorded_at: Fri, 06 Jan 2017 17:09:59 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/concurrent-ruby.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Etag:
      - '"bb4030b9f36419af88615021440d5013"'
      Last-Modified:
      - Tue, 27 Dec 2016 02:10[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/concurrent-ruby/owners.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"3afbeb49f3c001cc686138644ebe3305"'
    body:
      encoding: ASCII-8BIT
      string: |
        ---
        - id: 50229
          handle: pitr-ch
        - id: 85079
          handle: mighe
          email: michele.dellatorre@gmail.com
        - id: 65379
          handle: jdantonio
  recorded_at: Fri, 06 Jan 2017 17:10:00 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/i18n.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Ra[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/i18n.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Etag:
      - '"e9df10807a10300b48c353cf1ec21142"'
      Last-Modified:
      - Mon, 21 Nov 2016 00:47:30 GMT
   [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/i18n/owners.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"73b3d859b618c7399e3978c96d2dd754"'
    body:
      encoding: ASCII-8BIT
      string: "---\n- id: 27\n  handle: ryanbigg\n  email: radarlistener@gmail.com\n-
        id: 2536\n  handle: \n  email: svenfuchs@artweb-design.de\n- id: 2213\n  handle:
        clemensk\n  email: clemens@railway.at\n- id: 40799\n  handle: saimon\n  email:
        saimonmoore@gmail.com\n- id: 818\n  handle: matt_a\n  email: mattaimonetti@gmail.com\n-
        id: 20295\n  handle: arkanis\n  email: stephan.soller@helionweb.de\n- id:
        20169\n  handle: sfuchs\n  email: rubyforge.svenfuchs@artweb-design.de\n-
        id: 2568\n  handle: josevalim\n  email: jose.valim@gmail.com\n- id: 50166\n
        \ handle: Tigrish\n  email: chris@tigrish.com\n- id: 429\n  handle: cantoniodasilva\n
        \ email: carlosantoniodasilva@gmail.com\n"
  recorded_at: Fri, 06 Jan 2017 17:10:01 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/minitest.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/minitest.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Etag:
      - '"c453d37fdee31d5ca6667e4e0478878e"'
      Last-Modified:
      - Fri, 02 Dec 2016 00:04:36 GMT[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/minitest/owners.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"2257b2cc3aa421258de8c310549f0e06"'
    body:
      encoding: ASCII-8BIT
      string: |
        ---
        - id: 2966
          handle: zenspider
          email: ryand-ruby@zenspider.com
  recorded_at: Fri, 06 Jan 2017 17:10:02 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/tzinfo.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/tzinfo.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Etag:
      - '"0f43c79ff8803a5a931535807bcb7f8f"'
      Last-Modified:
      - Fri, 28 Oct 2016 18:04:19 GMT
 [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/tzinfo/owners.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"d15b2bd9e382f24b11d1506a56e460ac"'
    body:
      encoding: ASCII-8BIT
      string: |
        ---
        - id: 2981
          handle: PhilRoss
  recorded_at: Fri, 06 Jan 2017 17:10:03 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/thread_safe.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
     [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/thread_safe.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Etag:
      - '"189358694ff4d5e04d01703c596065be"'
      Last-Modified:
      - Mon, 27 Jun 2016 15:40:17 [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/thread_safe/owners.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"7ddedc3a23b5f44be00e8ed8ccefa3c0"'
    body:
      encoding: ASCII-8BIT
      string: |
        ---
        - id: 65379
          handle: jdantonio
        - id: 1825
          handle: headius
          email: headius@headius.com
        - id: 58885
          handle: thedarkone
          email: thedarkone2@gmail.com
  recorded_at: Fri, 06 Jan 2017 17:10:04 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/activesupport.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"2f677f2c84333034ac36779aae81a5d4"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"activesupport","downloads":113572756,"version":"5.0.1","version_downloads":223129,"platform":"ruby","authors":"David
        Heinemeier Hansson","info":"A toolkit of support libraries and Ruby core extensions
        extracted from the Rails framework. Rich support for multibyte strings, internationalization,
        time zones, and testing.","licenses":["MIT"],"metadata":{},"sha":"2db4123e8ce82bb7c62f43d89a5db591b17c9e6fc875f3df7c52b3942da07621","project_uri":"https://rubygems.org/gems/activesupport","gem_uri":"https://rubygems.org/gems/activesupport-5.0.1.gem","homepage_uri":"http://rubyonrails.org","wiki_uri":null,"documentation_uri":"http://www.rubydoc.info/gems/activesupport/5.0.1","mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"dependencies":{"development":[],"runtime":[{"name":"concurrent-ruby","requirements":"\u003e=
        1.0.2, ~\u003e 1.0"},{"name":"i18n","requirements":"~\u003e 0.7"},{"name":"minitest","requirements":"~\u003e
        5.1"},{"name":"tzinfo","requirements":"~\u003e 1.1"}]}}'
  recorded_at: Sat, 07 Jan 2017 10:18:17 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/activesupport.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"02504bf3f890c4cd108158b45db032a6"'
      Last-Modified:
      - Wed, 21 Dec 2016 00:06:19 GMT
      X-Backend:
      - F_Rails 54.186.104.15:443
    body:
      encoding: ASCII-8BIT
      string: '[{"authors":"David Heinemeier Hansson","built_at":"2016-12-21T00:00:00.000Z","created_at":"2016-12-21T00:06:17.383Z","description":"A
        toolkit of support libraries and Ruby core extensions extracted from the Rails
        framework. Rich support for multibyte strings, internationalization, time
        zones, and testing.","downloads_count":223129,"metadata":{},"number":"5.0.1","summary":"A
        toolkit of support libraries and Ruby core extensions extracted from the Rails
        framework.","platform":"ruby","rubygems_version":"\u003e= 0","ruby_version":"\u003e=
        2.2.2","prerelease":false,"licenses":["MIT"],"requirements":[],"sha":"2db4123e8ce82bb7c62f43d89a5db591b17c9e6fc875f3df7c52b3942da07621"},{"authors":"David
        Heinemeier Hansson","built_at":"2016-12-09T00:00:00.000Z","created_at":"2016-12-09T19:11:39.354Z","description":"A
        toolkit of support libraries and Ruby core extensions extracted from the Rails
        framework. Rich support for multibyte strings, internationalization, time
        zones, and testing.","downloads_count":3291,"metadata":{},"number[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/activesupport/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"d6c5dd7581d7f6d929d3704192da3b31"'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":71398,"handle":"kaspth","email":"kaspth@gmail.com"},{"id":528,"handle":"matthewd","email":"matthew@trebex.net"},{"id":939,"handle":"senny","email":"yves.senn@gmail.com"},{"id":59702,"handle":"chancancode","email":"godfreykfc@gmail.com"},{"id":662,"handle":"pixeltrix","email":"andyw@pixeltrix.co.uk"},{"id":337,"handle":null,"email":"jeremy@bitsweat.net"},{"id":1550,"handle":"webster132","email":"david@loudthinking.com"},{"id":32977,"handle":"fxn","email":"fxn@hashref.com"},{"id":207,"handle":"tenderlove","email":"aaron.patterson@gmail.com"},{"id":840,"handle":"spastorino","email":"santiago@wyeworks.com"},{"id":43998,"handle":"guilleiguaran","email":"guilleiguaran@gmail.com"},{"id":47349,"handle":"rafaelfranca","email":"rafaelmfranca@gmail.com"},{"id":429,"handle":"cantoniodasilva","email":"carlosantoniodasilva@gmail.com"}]'
  recorded_at: Sat, 07 Jan 2017 10:18:17 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/concurrent-ruby.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"688de82efdf84cc11[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/concurrent-ruby.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"bb4030b9f36419af88615021440d5013"'
      Last-Modified:
      - [...]
