---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/activesupport.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"932a34ebac673f64fbdcdba00aff8f85"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"activesupport","downloads":113498727,"version":"5.0.1","version_downloads":213257,"platform":"ruby","authors":"David
        Heinemeier Hansson","info":"A toolkit of support libraries and Ruby core extensions
        extracted from the Rails framework. Rich support for multibyte strings, internationalization,
        time zones, and testing.","licenses":["MIT"],"metadata":{},"sha":"2db4123e8ce82bb7c62f43d89a5db591b17c9e6fc875f3df7c52b3942da07621","project_uri":"https://rubygems.org/gems/activesupport","gem_uri":"https://rubygems.org/gems/activesupport-5.0.1.gem","homepage_uri":"http://rubyonrails.org","wiki_uri":null,"documentation_uri":"http://www.rubydoc.info/gems/activesupport/5.0.1","mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"dependencies":{"development":[],"runtime":[{"name":"concurrent-ruby","requirements":"\u003e=
        1.0.2, ~\u003e 1.0"},{"name":"i18n","requirements":"~\u003e 0.7"},{"name":"minitest","requirements":"~\u003e
        5.1"},{"name":"tzinfo","requirements":"~\u003e 1.1"}]}}'
  recorded_at: Fri, 06 Jan 2017 16:27:28 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/activesupport.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"02504bf3f890c4cd108158b45db032a6"'
      Last-Modified:
      - Wed, 21 Dec 2016 00:06:19 GMT
      X-Backend:
      - F_Rails 54.186.104.15:443
    body:
      encoding: ASCII-8BIT
      string: '[{"authors":"David Heinemeier Hansson","built_at":"2016-12-21T00:00:00.000Z","created_at":"2016-12-21T00:06:17.383Z","description":"A
        toolkit of support libraries and Ruby core extensions extracted from the Rails
        framework. Rich support for multibyte strings, internationalization, time
        zones, and testing.","downloads_count":213244,"metadata":{},"number":"5.0.1","summary":"A
        toolkit of support libraries and Ruby core extensions extracted from the Rails
        framework.","platform":"ruby","rubygems_version":"\u003e= 0","ruby_version":"\u003e=
        2.2.2","prerelease":false,"licenses":["MIT"],"requirements":[],"sha":"2db4123e8ce82bb7c62f43d89a5db591b17c9e6fc875f3df7c52b3942da07621"},{"authors":"David
        Heinemeier Hansson","built_at":"2016-12-09T00:00:00.000Z","created_at":"2016-12-09T19:11:39.354Z","description":"A
        toolkit of support libraries and Ruby core extensions extracted from the Rails
        framework. Rich support for multibyte strings, internationalization, time
        zones, and testing.","downloads_count":3287,"metadata":{},"number[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/activesupport/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"7f10851ccc9d2783bdfbe879b1f3c0ce"'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":71398,"handle":"kaspth","email":"kaspth@gmail.com"},{"id":528,"handle":"matthewd","email":"matthew@trebex.net"},{"id":939,"handle":"senny","email":"yves.senn@gmail.com"},{"id":59702,"handle":"chancancode","email":"godfreykfc@gmail.com"},{"id":662,"handle":"pixeltrix","email":"andyw@pixeltrix.co.uk"},{"id":337,"handle":null,"email":"jeremy@bitsweat.net"},{"id":1550,"handle":"webster132","email":"david@loudthinking.com"},{"id":32977,"handle":"fxn","email":"fxn@hashref.com"},{"id":207,"handle":"tenderlove","email":"aaron.patterson@gmail.com"},{"id":840,"handle":"spastorino","email":"santiago@wyeworks.com"},{"id":43998,"handle":"guilleiguaran","email":"guilleiguaran@gmail.com"},{"id":47349,"handle":"rafaelfranca","email":"rafaelmfranca@gmail.com"},{"id":429,"handle":"cantoniodasilva","email":"carlosantoniodasilva@gmail.com"}]'
  recorded_at: Fri, 06 Jan 2017 16:27:29 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/concurrent-ruby.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"64024294ebfbed1ab[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/concurrent-ruby.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"bb4030b9f36419af88615021440d5013"'
      Last-Modified:
      - [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/concurrent-ruby/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"0bd9d77b84bbad2017bd0ecec0557b49"'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":50229,"handle":"pitr-ch"},{"id":85079,"handle":"mighe","email":"michele.dellatorre@gmail.com"},{"id":65379,"handle":"jdantonio"}]'
  recorded_at: Fri, 06 Jan 2017 16:27:30 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/i18n.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"5a8f3ff7812cb63c0ca7f582ebc45069"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"i18n","downloads":106110553,"version":"0.7.0","version_downloads":49424817,"platform":"ruby","authors":"Sven
        Fuchs, Joshua Harvey, Matt Aimonetti, Stephan Soller, Saimon Moore","info":"New
        wave Internationalization support for Ruby.","licenses":["MIT"],"metadata":{},"sha":"a81cd327bd0f2c490ecf9f62f4a91ffaf5061aa2bf22cdbafe1a7e44a70fbfc4","project_uri":"https://rubygems.org/gems/i18n","gem_uri":"https://rubygems.org/gems/i18n-0.7.0.gem","homepage_uri":"http://github.com/svenfuchs/i18n","wiki_uri":"","documentation_uri":"http://rails-i18n.org","mailing_list_uri":"http://groups.google.com/group/rails-i18n","source_code_uri":"http://github.com/svenfuchs/i18n","bug_tracker_uri":"http://i18n.lighthouseapp.com","dependencies":{"development":[],"runtime":[]}}'
  recorded_at: Fri, 06 Jan 2017 16:27:30 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/i18n.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e9df10807a10300b48c353cf1ec21142"'
      Last-Modified:
      - Mon, 21 Nov[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/i18n/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"59b1e8b89a9d87f2f1991fb1d9429bd7"'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":27,"handle":"ryanbigg","email":"radarlistener@gmail.com"},{"id":2536,"handle":null,"email":"svenfuchs@artweb-design.de"},{"id":2213,"handle":"clemensk","email":"clemens@railway.at"},{"id":40799,"handle":"saimon","email":"saimonmoore@gmail.com"},{"id":818,"handle":"matt_a","email":"mattaimonetti@gmail.com"},{"id":20295,"handle":"arkanis","email":"stephan.soller@helionweb.de"},{"id":20169,"handle":"sfuchs","email":"rubyforge.svenfuchs@artweb-design.de"},{"id":2568,"handle":"josevalim","email":"jose.valim@gmail.com"},{"id":50166,"handle":"Tigrish","email":"chris@tigrish.com"},{"id":429,"handle":"cantoniodasilva","email":"carlosantoniodasilva@gmail.com"}]'
  recorded_at: Fri, 06 Jan 2017 16:27:31 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/minitest.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"6feb13d4075b9075a19f76f1[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/minitest.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c453d37fdee31d5ca6667e4e0478878e"'
      Last-Modified:
      - Fri, 02[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/minitest/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"fa4705900af73a02d283af7464be492a"'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":2966,"handle":"zenspider","email":"ryand-ruby@zenspider.com"}]'
  recorded_at: Fri, 06 Jan 2017 16:27:32 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/tzinfo.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"5bc05de75e01dda994dfeb9bb2b5b60d"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"tzinfo","downloads":99082176,"version":"1.2.2","version_downloads":46585067,"platform":"ruby","authors":"Philip
        Ross","info":"TZInfo provides daylight savings aware transformations between
        times in different time zones.","licenses":["MIT"],"metadata":{},"sha":"fdb1d3fdf2776d490c82a0e589a08e7cbde70ac1ae7d2b1f0b7e77f3e6b801b0","project_uri":"https://rubygems.org/gems/tzinfo","gem_uri":"https://rubygems.org/gems/tzinfo-1.2.2.gem","homepage_uri":"http://tzinfo.github.io","wiki_uri":"","documentation_uri":"http://www.rubydoc.info/gems/tzinfo/1.2.2","mailing_list_uri":"http://rubyforge.org/mail/?group_id=894","source_code_uri":"https://github.com/tzinfo/tzinfo","bug_tracker_uri":"https://github.com/tzinfo/tzinfo/issues","dependencies":{"development":[],"runtime":[{"name":"thread_safe","requirements":"~\u003e
        0.1"}]}}'
  recorded_at: Fri, 06 Jan 2017 16:27:32 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/tzinfo.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0f43c79ff8803a5a931535807bcb7f8f"'
      Last-Modified:
      - Fri, 28 O[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/tzinfo/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"cbddca61b0d10caab55abc34a63188dc"'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":2981,"handle":"PhilRoss"}]'
  recorded_at: Fri, 06 Jan 2017 16:27:33 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/thread_safe.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"7f26b493a4eed4f65e045[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/thread_safe.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"189358694ff4d5e04d01703c596065be"'
      Last-Modified:
      - Mon,[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/thread_safe/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"0c5028cbc9689c579cecad1e49101eff"'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":65379,"handle":"jdantonio"},{"id":1825,"handle":"headius","email":"headius@headius.com"},{"id":58885,"handle":"thedarkone","email":"thedarkone2@gmail.com"}]'
  recorded_at: Fri, 06 Jan 2017 16:27:34 GMT
recorded_with: VCR 3.0.3
