---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/tzinfo.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"b8203797bd4e29e6ecafb59239e81ed0"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"tzinfo","downloads":99082176,"version":"1.2.2","version_downloads":46585067,"platform":"ruby","authors":"Philip
        Ross","info":"TZInfo provides daylight savings aware transformations between
        times in different time zones.","licenses":["MIT"],"metadata":{},"sha":"fdb1d3fdf2776d490c82a0e589a08e7cbde70ac1ae7d2b1f0b7e77f3e6b801b0","project_uri":"https://rubygems.org/gems/tzinfo","gem_uri":"https://rubygems.org/gems/tzinfo-1.2.2.gem","homepage_uri":"http://tzinfo.github.io","wiki_uri":"","documentation_uri":"http://www.rubydoc.info/gems/tzinfo/1.2.2","mailing_list_uri":"http://rubyforge.org/mail/?group_id=894","source_code_uri":"https://github.com/tzinfo/tzinfo","bug_tracker_uri":"https://github.com/tzinfo/tzinfo/issues","dependencies":{"development":[],"runtime":[{"name":"thread_safe","requirements":"~\u003e
        0.1"}]}}'
  recorded_at: Fri, 06 Jan 2017 16:27:22 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/tzinfo.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0f43c79ff8803a5a931535807bcb7f8f"'
      Last-Modified:
      - Fri, 28 Oct 2016 18:04:19 GMT
      X-Backend:
      - F_Rails 54.186.104.15:443
    body:
      encoding: ASCII-8BIT
      string: '[{"authors":"Philip Ross","built_at":"2014-08-08T00:00:00.000Z","created_at":"2014-08-08T18:00:21.494Z","description":"TZInfo
        provides daylight savings aware transformations between times in different
        time zones.","downloads_count":46584986,"metadata":{},"number":"1.2.2","summary":"Daylight
        savings aware timezone library","platform":"ruby","rubygems_version":"\u003e=
        0","ruby_version":"\u003e= 1.8.7","prerelease":false,"licenses":["MIT"],"requirements":[],"sha":"fdb1d3fdf2776d490c82a0e589a08e7cbde70ac1ae7d2b1f0b7e77f3e6b801b0"},{"authors":"Philip
        Ross","built_at":"2014-06-01T00:00:00.000Z","created_at":"2014-06-01T14:57:46.796Z","description":"TZInfo
        provides daylight savings aware transformations between times in different
        time zones.","downloads_count":1706884,"metadata":{},"number":"1.2.1","summary":"Daylight
        savings aware timezone library","platform":"ruby","rubygems_v[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/tzinfo/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"e411979f0ad64c9f932aefbb642e5926"'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":2981,"handle":"PhilRoss"}]'
  recorded_at: Fri, 06 Jan 2017 16:27:23 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/thread_safe.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"12aef1b3a4daf1e194e8a[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/thread_safe.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"189358694ff4d5e04d01703c596065be"'
      Last-Modified:
      - Mon,[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/thread_safe/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"96062397a5cb34b180847b45336ac1e5"'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":65379,"handle":"jdantonio"},{"id":1825,"handle":"headius","email":"headius@headius.com"},{"id":58885,"handle":"thedarkone","email":"thedarkone2@gmail.com"}]'
  recorded_at: Fri, 06 Jan 2017 16:27:24 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/tzinfo.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"1144c7d9d11eae357cbff38e453554a9"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"tzinfo","downloads":99082176,"version":"1.2.2","version_downloads":46585067,"platform":"ruby","authors":"Philip
        Ross","info":"TZInfo provides daylight savings aware transformations between
        times in different time zones.","licenses":["MIT"],"metadata":{},"sha":"fdb1d3fdf2776d490c82a0e589a08e7cbde70ac1ae7d2b1f0b7e77f3e6b801b0","project_uri":"https://rubygems.org/gems/tzinfo","gem_uri":"https://rubygems.org/gems/tzinfo-1.2.2.gem","homepage_uri":"http://tzinfo.github.io","wiki_uri":"","documentation_uri":"http://www.rubydoc.info/gems/tzinfo/1.2.2","mailing_list_uri":"http://rubyforge.org/mail/?group_id=894","source_code_uri":"https://github.com/tzinfo/tzinfo","bug_tracker_uri":"https://github.com/tzinfo/tzinfo/issues","dependencies":{"development":[],"runtime":[{"name":"thread_safe","requirements":"~\u003e
        0.1"}]}}'
  recorded_at: Fri, 06 Jan 2017 16:27:24 GMT
recorded_with: VCR 3.0.3
