---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/tzinfo.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"ad43213dbebf392b7dda2fb57a339f5e"'
    body:
      encoding: ASCII-8BIT
      string: |
        ---
        name: tzinfo
        downloads: 99085899
        version: 1.2.2
        version_downloads: 46588325
        platform: ruby
        authors: Philip Ross
        info: TZInfo provides daylight savings aware transformations between times in different
          time zones.
        licenses:
        - MIT
        metadata: {}
        sha: fdb1d3fdf2776d490c82a0e589a08e7cbde70ac1ae7d2b1f0b7e77f3e6b801b0
        project_uri: https://rubygems.org/gems/tzinfo
        gem_uri: https://rubygems.org/gems/tzinfo-1.2.2.gem
        homepage_uri: http://tzinfo.github.io
        wiki_uri: ''
        documentation_uri: http://www.rubydoc.info/gems/tzinfo/1.2.2
        mailing_list_uri: http://rubyforge.org/mail/?group_id=894
        source_code_uri: https://github.com/tzinfo/tzinfo
        bug_tracker_uri: https://github.com/tzinfo/tzinfo/issues
        dependencies:
          development: []
          runtime:
          - name: thread_safe
            requirements: "~> 0.1"
  recorded_at: Fri, 06 Jan 2017 17:09:56 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/tzinfo.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Etag:
      - '"0f43c79ff8803a5a931535807bcb7f8f"'
      Last-Modified:
      - Fri, 28 Oct 2016 18:04:19 GMT
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Rails 54.186.104.15:443
    body:
      encoding: ASCII-8BIT
      string: "---\n- authors: Philip Ross\n  built_at: '2014-08-08T00:00:00.000Z'\n
        \ created_at: '2014-08-08T18:00:21.494Z'\n  description: TZInfo provides daylight
        savings aware transformations between times\n    in different time zones.\n
        \ downloads_[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/tzinfo/owners.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"1bccca8f999e13ec7049cc75b894a704"'
    body:
      encoding: ASCII-8BIT
      string: |
        ---
        - id: 2981
          handle: PhilRoss
  recorded_at: Fri, 06 Jan 2017 17:09:57 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/thread_safe.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
     [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/thread_safe.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Etag:
      - '"189358694ff4d5e04d01703c596065be"'
      Last-Modified:
      - Mon, 27 Jun 2016 15:40:17 [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/thread_safe/owners.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"ce3e81c61d81396512276c0f04c53e2e"'
    body:
      encoding: ASCII-8BIT
      string: |
        ---
        - id: 65379
          handle: jdantonio
        - id: 1825
          handle: headius
          email: headius@headius.com
        - id: 58885
          handle: thedarkone
          email: thedarkone2@gmail.com
  recorded_at: Fri, 06 Jan 2017 17:09:58 GMT
recorded_with: VCR 3.0.3
