---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/activerecord.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"8548914a0b1fab71bcd705c01f72a932"'
    body:
      encoding: ASCII-8BIT
      string: "---\nname: activerecord\ndownloads: 84384265\nversion: 5.0.1\nversion_downloads:
        117652\nplatform: ruby\nauthors: David Heinemeier Hansson\ninfo: Databases
        on Rails. Build a persistent domain model by mapping database tables\n  to
        Ruby classes. Strong conventions for associations, validations, aggregations,\n
        \ migrations, and testing come baked-in.\nlicenses:\n- MIT\nmetadata: {}\nsha:
        d48fddd5de204458a1d3d1ae9b16268e45097a84661012f27aef2679ab99ee98\nproject_uri:
        https://rubygems.org/gems/activerecord\ngem_uri: https://rubygems.org/gems/activerecord-5.0.1.gem\nhomepage_uri:
        http://rubyonrails.org\nwiki_uri: \ndocumentation_uri: http://www.rubydoc.info/gems/activerecord/5.0.1\nmailing_list_uri:
        \nsource_code_uri: \nbug_tracker_uri: \ndependencies:\n  development: []\n
        \ runtime:\n  - name: activemodel\n    requirements: \"= 5.0.1\"\n  - name:
        activesupport\n    requirements: \"= 5.0.1\"\n  - name: arel\n    requirements:
        \"~> 7.0\"\n"
  recorded_at: Fri, 06 Jan 2017 17:09:30 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/activerecord.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Etag:
      - '"402e67f02b606b9d2fffccde7d073ff9"'
      Last-Modified:
      - Wed, 21 Dec 2016 00:06:40 GMT
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Rails 54.186.104.15:443
    body:
      encoding: ASCII-8BIT
      string: "---\n- authors: David Heinemeier Hansson\n  built_at: '2016-12-21T00:00:00.000Z'\n
        \ created_at: '2016-12-21T00:06:38.611Z'\n  description: Databases on Rails.
        Build a persistent domain model by mapping database\n    tables to Ruby classes.
        Strong conventions for associations, validations, aggregations,\n    migrations,
        and testing come baked-in.\n  downloads_count: 117652\n  metadata: {}\n  number:
        5.0.1\n  summary: Object-relational mapper framework (part of Rails).\n  platform:
        ruby\n  rubygems_version: \">= 0\"\n  ruby_version: \">= 2.2.2\"\n  prerelease:
        false\n  licenses:\n  - MIT\n  requirements: []\n  sha: d48fddd5de204458a1d3d1ae9b16268e45097a84661012f27aef2679ab99ee98\n-
        authors: David Heinemeier Hansson\n  built_at: '2016-12-09T00:00:00.000Z'\n
        \ created_at: '2016-12-09T19:12:00.305Z'\n  description: Databases on Rails.
        Build a persistent domain model by mapping database\n    tables to Ruby classes.
        Strong conventions for associations, validations, aggregations,\n    migrations,
        and testing come baked-in.\n  downloads_count: 2411\n  metadata: {}\n  number:
        5.0.1.rc2\n  summary: Object-relational mapper framework (part of Rails).\[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/activerecord/owners.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"e4feef0082b5988a415e75fc90b7b0a6"'
    body:
      encoding: ASCII-8BIT
      string: "---\n- id: 71398\n  handle: kaspth\n  email: kaspth@gmail.com\n- id:
        528\n  handle: matthewd\n  email: matthew@trebex.net\n- id: 939\n  handle:
        senny\n  email: yves.senn@gmail.com\n- id: 59702\n  handle: chancancode\n
        \ email: godfreykfc@gmail.com\n- id: 662\n  handle: pixeltrix\n  email: andyw@pixeltrix.co.uk\n-
        id: 337\n  handle: \n  email: jeremy@bitsweat.net\n- id: 1550\n  handle: webster132\n
        \ email: david@loudthinking.com\n- id: 32977\n  handle: fxn\n  email: fxn@hashref.com\n-
        id: 207\n  handle: tenderlove\n  email: aaron.patterson@gmail.com\n- id: 840\n
        \ handle: spastorino\n  email: santiago@wyeworks.com\n- id: 43998\n  handle:
        guilleiguaran\n  email: guilleiguaran@gmail.com\n- id: 47349\n  handle: rafaelfranca\n
        \ email: rafaelmfranca@gmail.com\n- id: 429\n  handle: cantoniodasilva\n  email:
        carlosantoniodasilva@gmail.com\n"
  recorded_at: Fri, 06 Jan 2017 17:09:31 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/activemodel.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
     [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/activemodel.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Etag:
      - '"363bb9ba0c18143273aac7a4a5a37514"'
      Last-Modified:
      - Wed, 21 Dec 2016 00:06:28 [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/activemodel/owners.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/activesupport.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
   [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/activesupport.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Etag:
      - '"02504bf3f890c4cd108158b45db032a6"'
      Last-Modified:
      - Wed, 21 Dec 2016 00:06:1[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/activesupport/owners.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backe[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/concurrent-ruby.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"45add95b07113e9da0d95a3c78220f5a"'
    body:
      encoding: ASCII-8BIT
      string: |
        ---
        name: concurrent-ruby
        downloads: 13499595
        version: 1.0.4
        version_downloads: 220073
        platform: ruby
        authors: Jerry D'Antonio, Petr Chalupa, The Ruby Concurrency Team
        info: |
          Modern concurrency tools including agents, futures, promises, thread pools, actors, supervisors, and more.
          Inspired by Erlang, Clojure, Go, JavaScript, actors, and classic concurrency patterns.
        licenses:
        - MIT
        metadata: {}
        sha: ebd266064280cf52fab521ddd369d51a95f6aff664119e229b07101a6088f25c
        project_uri: https://rubygems.org/gems/concurrent-ruby
        gem_uri: https://rubygems.org/gems/concurrent-ruby-1.0.4.gem
        homepage_uri: http://www.concurrent-ruby.com
        wiki_uri: ''
        documentation_uri: http://ruby-concurrency.github.io/concurrent-ruby/frames.html
        mailing_list_uri: https://groups.google.com/forum/#!forum/concurrent-ruby
        source_code_uri: https://github.com/ruby-concurrency/concurrent-ruby
        bug_tracker_uri: https://github.com/ruby-concurrency/concurrent-ruby/issues
        dependencies:
          development: []
          runtime: []
  recorded_at: Fri, 06 Jan 2017 17:09:35 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/concurrent-ruby.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Etag:
      - '"bb4030b9f36419af88615021440d5013"'
      Last-Modified:
      - Tue, 27 Dec 2016 02:10[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/concurrent-ruby/owners.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"0600fdb268f8fb41bfc736198763d66b"'
    body:
      encoding: ASCII-8BIT
      string: |
        ---
        - id: 50229
          handle: pitr-ch
        - id: 85079
          handle: mighe
          email: michele.dellatorre@gmail.com
        - id: 65379
          handle: jdantonio
  recorded_at: Fri, 06 Jan 2017 17:09:35 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/i18n.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Ra[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/i18n.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Etag:
      - '"e9df10807a10300b48c353cf1ec21142"'
      Last-Modified:
      - Mon, 21 Nov 2016 00:47:30 GMT
   [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/i18n/owners.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"12c459c5994f06374f5ae5ce4b8da822"'
    body:
      encoding: ASCII-8BIT
      string: "---\n- id: 27\n  handle: ryanbigg\n  email: radarlistener@gmail.com\n-
        id: 2536\n  handle: \n  email: svenfuchs@artweb-design.de\n- id: 2213\n  handle:
        clemensk\n  email: clemens@railway.at\n- id: 40799\n  handle: saimon\n  email:
        saimonmoore@gmail.com\n- id: 818\n  handle: matt_a\n  email: mattaimonetti@gmail.com\n-
        id: 20295\n  handle: arkanis\n  email: stephan.soller@helionweb.de\n- id:
        20169\n  handle: sfuchs\n  email: rubyforge.svenfuchs@artweb-design.de\n-
        id: 2568\n  handle: josevalim\n  email: jose.valim@gmail.com\n- id: 50166\n
        \ handle: Tigrish\n  email: chris@tigrish.com\n- id: 429\n  handle: cantoniodasilva\n
        \ email: carlosantoniodasilva@gmail.com\n"
  recorded_at: Fri, 06 Jan 2017 17:09:36 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/minitest.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/minitest.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Etag:
      - '"c453d37fdee31d5ca6667e4e0478878e"'
      Last-Modified:
      - Fri, 02 Dec 2016 00:04:36 GMT[...]
