---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/activerecord.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"226d40f8f47a64c8293ce4cf13bd125b"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"activerecord","downloads":84380986,"version":"5.0.1","version_downloads":117305,"platform":"ruby","authors":"David
        Heinemeier Hansson","info":"Databases on Rails. Build a persistent domain
        model by mapping database tables to Ruby classes. Strong conventions for associations,
        validations, aggregations, migrations, and testing come baked-in.","licenses":["MIT"],"metadata":{},"sha":"d48fddd5de204458a1d3d1ae9b16268e45097a84661012f27aef2679ab99ee98","project_uri":"https://rubygems.org/gems/activerecord","gem_uri":"https://rubygems.org/gems/activerecord-5.0.1.gem","homepage_uri":"http://rubyonrails.org","wiki_uri":null,"documentation_uri":"http://www.rubydoc.info/gems/activerecord/5.0.1","mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"dependencies":{"development":[],"runtime":[{"name":"activemodel","requirements":"=
        5.0.1"},{"name":"activesupport","requirements":"= 5.0.1"},{"name":"arel","requirements":"~\u003e
        7.0"}]}}'
  recorded_at: Fri, 06 Jan 2017 16:27:00 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/activerecord.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"402e67f02b606b9d2fffccde7d073ff9"'
      Last-Modified:
      - Wed, 21 Dec 2016 00:06:40 GMT
      X-Backend:
      - F_Rails 54.186.104.15:443
    body:
      encoding: ASCII-8BIT
      string: '[{"authors":"David Heinemeier Hansson","built_at":"2016-12-21T00:00:00.000Z","created_at":"2016-12-21T00:06:38.611Z","description":"Databases
        on Rails. Build a persistent domain model by mapping database tables to Ruby
        classes. Strong conventions for associations, validations, aggregations, migrations,
        and testing come baked-in.","downloads_count":117305,"metadata":{},"number":"5.0.1","summary":"Object-relational
        mapper framework (part of Rails).","platform":"ruby","rubygems_version":"\u003e=
        0","ruby_version":"\u003e= 2.2.2","prerelease":false,"licenses":["MIT"],"requirements":[],"sha":"d48fddd5de204458a1d3d1ae9b16268e45097a84661012f27aef2679ab99ee98"},{"authors":"David
        Heinemeier Hansson","built_at":"2016-12-09T00:00:00.000Z","created_at":"2016-12-09T19:12:00.305Z","description":"Databases
        on Rails. Build a persistent domain model by mapping database tables to Ruby
        classes. Strong conventions for associations, validations, aggregations, migrations,
        and testing come baked-in.","downloads_count":24[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/activerecord/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"fb8b3e302db5fce234fac610b1b0d1cc"'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":71398,"handle":"kaspth","email":"kaspth@gmail.com"},{"id":528,"handle":"matthewd","email":"matthew@trebex.net"},{"id":939,"handle":"senny","email":"yves.senn@gmail.com"},{"id":59702,"handle":"chancancode","email":"godfreykfc@gmail.com"},{"id":662,"handle":"pixeltrix","email":"andyw@pixeltrix.co.uk"},{"id":337,"handle":null,"email":"jeremy@bitsweat.net"},{"id":1550,"handle":"webster132","email":"david@loudthinking.com"},{"id":32977,"handle":"fxn","email":"fxn@hashref.com"},{"id":207,"handle":"tenderlove","email":"aaron.patterson@gmail.com"},{"id":840,"handle":"spastorino","email":"santiago@wyeworks.com"},{"id":43998,"handle":"guilleiguaran","email":"guilleiguaran@gmail.com"},{"id":47349,"handle":"rafaelfranca","email":"rafaelmfranca@gmail.com"},{"id":429,"handle":"cantoniodasilva","email":"carlosantoniodasilva@gmail.com"}]'
  recorded_at: Fri, 06 Jan 2017 16:27:01 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/activemodel.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"51256ee9103d43c2d41578761edd3d4f"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"activemodel","downloads":83364426,"version":"5.0.1","version_downloads":121317,"platform":"ruby","authors":"David
        Heinemeier Hansson","info":"A toolkit for building modeling frameworks like
        Active Record. Rich support for attributes, callbacks, validations, serialization,
        internationalization, and testing.","licenses":["MIT"],"metadata":{},"sha":"5c15679d79f5f386cc5a9d09500d2da9fe6f0953c5624aee0617761740e12850","project_uri":"https://rubygems.org/gems/activemodel","gem_uri":"https://rubygems.org/gems/activemodel-5.0.1.gem","homepage_uri":"http://rubyonrails.org","wiki_uri":null,"documentation_uri":"http://www.rubydoc.info/gems/activemodel/5.0.1","mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"dependencies":{"development":[],"runtime":[{"name":"activesupport","requirements":"=
        5.0.1"}]}}'
  recorded_at: Fri, 06 Jan 2017 16:27:02 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/activemodel.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"363bb9ba0c18143273aac7a4a5a37514"'
      Last-Modified:
      - Wed,[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/activemodel/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"49d52053f38cdc007ca0ce5ad4b7cb20"'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":71398,"handle":"kaspth","email":"kaspth@gmail.com"},{"id":528,"handle":"matthewd","email":"matthew@trebex.net"},{"id":939,"handle":"senny","email":"yves.senn@gmail.com"},{"id":59702,"handle":"chancancode","email":"godfreykfc@gmail.com"},{"id":662,"handle":"pixeltrix","email":"andyw@pixeltrix.co.uk"},{"id":32977,"handle":"fxn","email":"fxn@hashref.com"},{"id":1550,"handle":"webster132","email":"david@loudthinking.com"},{"id":207,"handle":"tenderlove","email":"aaron.patterson@gmail.com"},{"id":337,"handle":null,"email":"jeremy@bitsweat.net"},{"id":840,"handle":"spastorino","email":"santiago@wyeworks.com"},{"id":429,"handle":"cantoniodasilva","email":"carlosantoniodasilva@gmail.com"},{"id":47349,"handle":"rafaelfranca","email":"rafaelmfranca@gmail.com"},{"id":43998,"handle":"guilleiguaran","email":"guilleiguaran@gmail.com"}]'
  recorded_at: Fri, 06 Jan 2017 16:27:03 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/activesupport.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"cb4131160f47cb575e8[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/activesupport.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"02504bf3f890c4cd108158b45db032a6"'
      Last-Modified:
      - We[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/activesupport/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"ff6e489674d7eb9f250d116dace67158"'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":71398,"handle":"kaspth","email":"kaspth@gmail.com"},{"id":528,"handle":"matthewd","email":"matthew@trebex.net"},{"id":939,"handle":"senny","email":"yves.senn@gmail.com"},{"id":59702,"handle":"chancancode","email":"godfreykfc@gmail.com"},{"id":662,"handle":"pixeltrix","email":"andyw@pixeltrix.co.uk"},{"id":337,"handle":null,"email":"jeremy@bitsweat.net"},{"id":1550,"handle":"webster132","email":"david@loudthinking.com"},{"id":32977,"handle":"fxn","email":"fxn@hashref.com"},{"id":207,"handle":"tenderlove","email":"aaron.patterson@gmail.com"},{"id":840,"handle":"spastorino","email":"santiago@wyeworks.com"},{"id":43998,"handle":"guilleiguaran","email":"guilleiguaran@gmail.com"},{"id":47349,"handle":"rafaelfranca","email":"rafaelmfranca@gmail.com"},{"id":429,"handle":"cantoniodasilva","email":"carlosantoniodasilva@gmail.com"}]'
  recorded_at: Fri, 06 Jan 2017 16:27:04 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/concurrent-ruby.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"d7ba8d1f02e33282b[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/concurrent-ruby.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"bb4030b9f36419af88615021440d5013"'
      Last-Modified:
      - [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/concurrent-ruby/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"c157e89893870d2c7c0e9754a142b6e7"'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":50229,"handle":"pitr-ch"},{"id":85079,"handle":"mighe","email":"michele.dellatorre@gmail.com"},{"id":65379,"handle":"jdantonio"}]'
  recorded_at: Fri, 06 Jan 2017 16:27:05 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/i18n.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"8770418af20e768b2f05b9f3da407cd5"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"i18n","downloads":106110553,"version":"0.7.0","version_downloads":49424817,"platform":"ruby","authors":"Sven
        Fuchs, Joshua Harvey, Matt Aimonetti, Stephan Soller, Saimon Moore","info":"New
        wave Internationalization support for Ruby.","licenses":["MIT"],"metadata":{},"sha":"a81cd327bd0f2c490ecf9f62f4a91ffaf5061aa2bf22cdbafe1a7e44a70fbfc4","project_uri":"https://rubygems.org/gems/i18n","gem_uri":"https://rubygems.org/gems/i18n-0.7.0.gem","homepage_uri":"http://github.com/svenfuchs/i18n","wiki_uri":"","documentation_uri":"http://rails-i18n.org","mailing_list_uri":"http://groups.google.com/group/rails-i18n","source_code_uri":"http://github.com/svenfuchs/i18n","bug_tracker_uri":"http://i18n.lighthouseapp.com","dependencies":{"development":[],"runtime":[]}}'
  recorded_at: Fri, 06 Jan 2017 16:27:05 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/i18n.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e9df10807a10300b48c353cf1ec21142"'
      Last-Modified:
      - Mon, 21 Nov[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/i18n/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"ca416964ebeca33c5b20fb00c3ebf331"'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":27,"handle":"ryanbigg","email":"radarlistener@gmail.com"},{"id":2536,"handle":null,"email":"svenfuchs@artweb-design.de"},{"id":2213,"handle":"clemensk","email":"clemens@railway.at"},{"id":40799,"handle":"saimon","email":"saimonmoore@gmail.com"},{"id":818,"handle":"matt_a","email":"mattaimonetti@gmail.com"},{"id":20295,"handle":"arkanis","email":"stephan.soller@helionweb.de"},{"id":20169,"handle":"sfuchs","email":"rubyforge.svenfuchs@artweb-design.de"},{"id":2568,"handle":"josevalim","email":"jose.valim@gmail.com"},{"id":50166,"handle":"Tigrish","email":"chris@tigrish.com"},{"id":429,"handle":"cantoniodasilva","email":"carlosantoniodasilva@gmail.com"}]'
  recorded_at: Fri, 06 Jan 2017 16:27:06 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/minitest.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"6d713fe9aa7e653f4d46dce3[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/minitest.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c453d37fdee31d5ca6667e4e0478878e"'
      Last-Modified:
      - Fri, 02[...]
