---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/tzinfo.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Etag:
      - '"0f43c79ff8803a5a931535807bcb7f8f"'
      Last-Modified:
      - Fri, 28 Oct 2016 18:04:19 GMT
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Rails 54.186.104.15:443
    body:
      encoding: ASCII-8BIT
      string: "---\n- authors: Philip Ross\n  built_at: '2014-08-08T00:00:00.000Z'\n
        \ created_at: '2014-08-08T18:00:21.494Z'\n  description: TZInfo provides daylight
        savings aware transformations between times\n    in different time zones.\n
        \ downloads_count: 46582830\n  metadata: {}\n  number: 1.2.2\n  summary: Daylight
        savings aware timezone library\n  platform: ruby\n  rubygems_version: \">=
        0\"\n  ruby_version: \">= 1.8.7\"\n  prerelease: false\n  licenses:\n  - MIT\n
        \ requirements: []\n  sha: fdb1d3fdf2776d490c82a0e589a08e7cbde70ac1ae7d2b1f0b7e77f3e6b801b0\n-
        authors: Philip Ross\n  built_at: '2014-06-01T00:00:00.000Z'\n  created_at:
        '2014-06-01T14:57:46.796Z'\n  description: TZInfo provides daylight savings
        aware transformations between times\n    in different time zones.\n  downloads_count:
        1706881\n  metadata: {}\n  number: 1.2.1\n  summary: Daylight savings aware
        timezone library\n  platform: ruby\n  rubygems_version: \">= 0\"\n  ruby_version:
        \">= 1.8.7\"\n  prerelease: false\n  licenses:\n  - MIT\n  requirements:[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/tzinfo.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0f43c79ff8803a5a931535807bcb7f8f"'
      Last-Modified:
      - Fri, 28 Oct 2016 18:04:19 GMT
      X-Backend:
      - F_Rails 54.186.104.15:443
    body:
      encoding: ASCII-8BIT
      string: '[{"authors":"Philip Ross","built_at":"2014-08-08T00:00:00.000Z","created_at":"2014-08-08T18:00:21.494Z","description":"TZInfo
        provides daylight savings aware transformations between times in different
        time zones.","downloads_count":46645708,"metadata":{},"number":"1.2.2","summary":"Daylight
        savings aware timezone library","platform":"ruby","rubygems_version":"\u003e=
        0","ruby_version":"\u003e= 1.8.7","prerelease":false,"licenses":["MIT"],"requirements":[],"sha":"fdb1d3fdf2776d490c82a0e589a08e7cbde70ac1ae7d2b1f0b7e77f3e6b801b0"},{"authors":"Philip
        Ross","built_at":"2014-06-01T00:00:00.000Z","created_at":"2014-06-01T14:57:46.796Z","description":"TZInfo
        provides daylight savings aware transformations between times in different
        time zones.","downloads_count":1707119,"metadata":{},"number":"1.2.1","summary":"Daylight
        savings aware timezone library","platform":"ruby","rubygems_version":"\u003e=
        0","ruby_version":"\u003[...]
