---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/bootstrap-sass.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"a910d425457d98dbc43c251c83855610"'
    body:
      encoding: ASCII-8BIT
      string: |
        ---
        name: bootstrap-sass
        downloads: 13862501
        version: 3.3.7
        version_downloads: 655229
        platform: ruby
        authors: Thomas McDonald
        info: bootstrap-sass is a Sass-powered version of Bootstrap 3, ready to drop right
          into your Sass powered applications.
        licenses:
        - MIT
        metadata: {}
        sha: a92f02af5be165be7e9934d1dfd597ab7ee64de96595b073b0b835c58c5b89ad
        project_uri: https://rubygems.org/gems/bootstrap-sass
        gem_uri: https://rubygems.org/gems/bootstrap-sass-3.3.7.gem
        homepage_uri: https://github.com/twbs/bootstrap-sass
        wiki_uri: ''
        documentation_uri: http://www.rubydoc.info/gems/bootstrap-sass/3.3.7
        mailing_list_uri: ''
        source_code_uri: https://github.com/twbs/bootstrap-sass
        bug_tracker_uri: ''
        dependencies:
          development:
          - name: actionpack
            requirements: ">= 4.1.5"
          - name: activesupport
            requirements: ">= 4.1.5"
          - name: capybara
            requirements: ">= 2.5.0"
          - name: jquery-rails
            requirements: ">= 3.1.0"
          - name: json
            requirements: ">= 1.8.1"
          - name: minitest
            requirements: "~> 5.8"
          - name: minitest-reporters
            requirements: "~> 1.1"
          - name: poltergeist
            requirements: ">= 0"
          - name: slim-rails
            requirements: ">= 0"
          - name: sprockets-rails
            requirements: ">= 2.1.3"
          - name: term-ansicolor
            requirements: ">= 0"
          - name: uglifier
            requirements: ">= 0"
          runtime:
          - name: autoprefixer-rails
            requirements: ">= 5.2.1"
          - name: sass
            requirements: ">= 3.3.4"
  recorded_at: Fri, 06 Jan 2017 17:23:27 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/bootstrap-sass.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Etag:
      - '"1d1448b1f7d04c7cc5c6b5c23d17abfb"'
      Last-Modified:
      - Mon, 25 Jul 2016 21:10:43 GMT
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Rails 54.186.104.15:443
    body:
      encoding: ASCII-8BIT
      string: "---\n- authors: Thomas McDonald\n  built_at: '2016-07-25T00:00:00.000Z'\n
        \ created_at: '2016-07-25T21:10:41.745Z'\n  description: ''\n  downloads_count:
        655229\n  metadata: {}\n  number: 3.3.7\n  summary: bootstrap-sass is a Sass-powered
        v[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/bootstrap-sass/owners.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"9d369c97320d6dc09f81d8a22d7df7bc"'
    body:
      encoding: ASCII-8BIT
      string: |
        ---
        - id: 53274
          handle: tmcdonald
          email: thomasmcdonald@ymail.com
        - id: 45057
          handle: glebm
          email: glex.spb@gmail.com
  recorded_at: Fri, 06 Jan 2017 17:23:28 GMT
recorded_with: VCR 3.0.3
