---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/sass.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"89a3241253ad333f7b3cf9b1b45be663"'
    body:
      encoding: ASCII-8BIT
      string: |
        ---
        name: sass
        downloads: 79085970
        version: 3.4.23
        version_downloads: 398035
        platform: ruby
        authors: Natalie Weizenbaum, Chris Eppstein, Hampton Catlin
        info: |2
                Sass makes CSS fun again. Sass is an extension of CSS, adding
                nested rules, variables, mixins, selector inheritance, and more.
                It's translated to well-formatted, standard CSS using the
                command line tool or a web-framework plugin.
        licenses:
        - MIT
        metadata: {}
        sha: d973b62b710f07a755f8fb311e3b7d4f7577d4cd39f01bb40e95016387ad4435
        project_uri: https://rubygems.org/gems/sass
        gem_uri: https://rubygems.org/gems/sass-3.4.23.gem
        homepage_uri: http://sass-lang.com/
        wiki_uri: ''
        documentation_uri: http://sass-lang.com/documentation/file.SASS_REFERENCE.html
        mailing_list_uri: http://sass-lang.com/community
        source_code_uri: https://github.com/sass/sass
        bug_tracker_uri: https://github.com/sass/sass/issues
        dependencies:
          development:
          - name: maruku
            requirements: ">= 0.5.9"
          - name: minitest
            requirements: ">= 5"
          - name: yard
            requirements: ">= 0.5.3"
          runtime: []
  recorded_at: Fri, 06 Jan 2017 17:10:04 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/sass.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Etag:
      - '"8999b43575d40cca5fb6ca285673c6da"'
      Last-Modified:
      - Mon, 19 Dec 2016 23:15:51 GMT
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Rails 54.186.104.15:443
    body:
      encoding: ASCII-8BIT
      string: "---\n- authors: Natalie Weizenbaum, Chris Eppstein, Hampton Catlin\n
        \ built_at: '2015-12-09T00:00:00.000Z'\n  created_at: '2015-12-09T23:19:24.537Z'\n
        \ description: |2\n          Sass makes CSS fun again. Sass is an extension
        of CSS, addi[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/sass/owners.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"e38525fb8fc1026cd56bd47c0503ab50"'
    body:
      encoding: ASCII-8BIT
      string: |
        ---
        - id: 817
          handle: nex3
          email: nex342@gmail.com
        - id: 275
          handle: chriseppstein
          email: chris@eppsteins.net
  recorded_at: Fri, 06 Jan 2017 17:10:06 GMT
recorded_with: VCR 3.0.3
