---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/bootstrap-sass.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"a910d425457d98dbc43c251c83855610"'
    body:
      encoding: ASCII-8BIT
      string: |
        ---
        name: bootstrap-sass
        downloads: 13862501
        version: 3.3.7
        version_downloads: 655229
        platform: ruby
        authors: Thomas McDonald
        info: bootstrap-sass is a Sass-powered version of Bootstrap 3, ready to drop right
          into your Sass powered applications.
        licenses:
        - MIT
        metadata: {}
        sha: a92f02af5be165be7e9934d1dfd597ab7ee64de96595b073b0b835c58c5b89ad
        project_uri: https://rubygems.org/gems/bootstrap-sass
        gem_uri: https://rubygems.org/gems/bootstrap-sass-3.3.7.gem
        homepage_uri: https://github.com/twbs/bootstrap-sass
        wiki_uri: ''
        documentation_uri: http://www.rubydoc.info/gems/bootstrap-sass/3.3.7
        mailing_list_uri: ''
        source_code_uri: https://github.com/twbs/bootstrap-sass
        bug_tracker_uri: ''
        dependencies:
          development:
          - name: actionpack
            requirements: ">= 4.1.5"
          - name: activesupport
            requirements: ">= 4.1.5"
          - name: capybara
            requirements: ">= 2.5.0"
          - name: jquery-rails
            requirements: ">= 3.1.0"
          - name: json
            requirements: ">= 1.8.1"
          - name: minitest
            requirements: "~> 5.8"
          - name: minitest-reporters
            requirements: "~> 1.1"
          - name: poltergeist
            requirements: ">= 0"
          - name: slim-rails
            requirements: ">= 0"
          - name: sprockets-rails
            requirements: ">= 2.1.3"
          - name: term-ansicolor
            requirements: ">= 0"
          - name: uglifier
            requirements: ">= 0"
          runtime:
          - name: autoprefixer-rails
            requirements: ">= 5.2.1"
          - name: sass
            requirements: ">= 3.3.4"
  recorded_at: Fri, 06 Jan 2017 17:23:27 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/bootstrap-sass.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Etag:
      - '"1d1448b1f7d04c7cc5c6b5c23d17abfb"'
      Last-Modified:
      - Mon, 25 Jul 2016 21:10:43 GMT
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Rails 54.186.104.15:443
    body:
      encoding: ASCII-8BIT
      string: "---\n- authors: Thomas McDonald\n  built_at: '2016-07-25T00:00:00.000Z'\n
        \ created_at: '2016-07-25T21:10:41.745Z'\n  description: ''\n  downloads_count:
        655229\n  metadata: {}\n  number: 3.3.7\n  summary: bootstrap-sass is a Sass-powered
        v[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/bootstrap-sass/owners.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"9d369c97320d6dc09f81d8a22d7df7bc"'
    body:
      encoding: ASCII-8BIT
      string: |
        ---
        - id: 53274
          handle: tmcdonald
          email: thomasmcdonald@ymail.com
        - id: 45057
          handle: glebm
          email: glex.spb@gmail.com
  recorded_at: Fri, 06 Jan 2017 17:23:28 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/bootstrap-sass.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"848e945be9f9bef099[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/bootstrap-sass.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1d1448b1f7d04c7cc5c6b5c23d17abfb"'
      Last-Modified:
      - Mon, 25 Jul 2016 21:10:43 GMT
      X-Backend:
      - F_Rails 54.186.104.15:443
    body:
      encoding: ASCII-8BIT
      string: '[{"authors":"Thomas McDonald","built_at":"2016-07-25T00:00:00.000Z","created_at":"2016-07-25T21:10:41.745Z","description":"","downloads_count":658813,"metadata":{},"number":"3.3.7","summary":"bootstrap-sass
        is a Sass-powered version of Bootstrap 3, ready to drop right into your Sass
        powered applications.","platform":"ruby","rubygems_version":"\u003e= 0","ruby_version":"\u003e=
        0","prerelease":false,"licenses":["MIT"],"requirements":[],"sha":"a92f02af5be165be7e9934d1dfd597ab7ee64de96595b073b0b835c58c5b89ad"},{"authors":"Thomas
        McDonald","built_at":"2015-11-24T00:00:00.000Z","created_at":"2015-11-24T23:07:20.552Z","description":"","downloads_count":1682912,"metadata":{},"number":"3.3.6","summary":"bootstrap-sass
        is a Sass-powered version of Bootstrap 3, ready to drop right into your Sass
        powered applications.","platform":"ruby","rubygems_version":"\u003e= 0","ru[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/bootstrap-sass/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"147dfbaf77ffeda79f6c4664cd51c7cc"'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":53274,"handle":"tmcdonald","email":"thomasmcdonald@ymail.com"},{"id":45057,"handle":"glebm","email":"glex.spb@gmail.com"}]'
  recorded_at: Sat, 07 Jan 2017 19:28:03 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/autoprefixer-rails.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"fbea54fadf6e65[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/autoprefixer-rails.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"5df67de585a130c71e57df86bf798020"'
      Last-Modified:
     [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/autoprefixer-rails/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"69a019835ea1b9762f517fae7f6c2710"'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":2428,"handle":"iskin","email":"andrey@sitnik.ru"},{"id":541,"handle":"kossnocorp","email":"kossnocorp@gmail.com"}]'
  recorded_at: Sat, 07 Jan 2017 19:28:05 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/execjs.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"fadcba51c42a40de8da633a5aeae020c"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"execjs","downloads":58051659,"version":"2.7.0","version_downloads":4814298,"platform":"ruby","authors":"Sam
        Stephenson, Josh Peek","info":"ExecJS lets you run JavaScript code from Ruby.","licenses":["MIT"],"metadata":{},"sha":"e1fae0c5c831934c47d92363b4ea66ef2951350ab91b5d8d3174342b9c2ee5fb","project_uri":"https://rubygems.org/gems/execjs","gem_uri":"https://rubygems.org/gems/execjs-2.7.0.gem","homepage_uri":"https://github.com/rails/execjs","wiki_uri":null,"documentation_uri":"http://www.rubydoc.info/gems/execjs/2.7.0","mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"dependencies":{"development":[{"name":"rake","requirements":"\u003e=
        0"}],"runtime":[]}}'
  recorded_at: Sat, 07 Jan 2017 19:28:05 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/execjs.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c0f400f91adc8686ce775881c9111278"'
      Last-Modified:
      - Mon, 27 J[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/execjs/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"eec16f8e95cb0590531[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/sass.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"a63957f632faae2e0b829295cdd8[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/sass.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"8999b43575d40cca5fb6ca285673c6da"'
      Last-Modified:
      - Mon, 19 Dec[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/sass/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"c11049ea2e542ed6d67d35fae78f4329"'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":817,"handle":"nex3","email":"nex342@gmail.com"},{"id":275,"handle":"chriseppstein","email":"chris@eppsteins.net"}]'
  recorded_at: Sat, 07 Jan 2017 19:28:07 GMT
recorded_with: VCR 3.0.3
