---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/paranoid.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"2a44b3030f27322d96ff9caedc62688c"'
    body:
      encoding: ASCII-8BIT
      string: "---\nname: paranoid\ndownloads: 13046\nversion: 0.0.7\nversion_downloads:
        3108\nplatform: ruby\nauthors: David Genord II\ninfo: Enable soft delete of
        ActiveRecord records. Based off defunct ActsAsParanoid\n  and IsParanoid\nlicenses:
        \nmetadata: {}\nsha: 3d8ee9a8b8266d458ec213fa0c8cd462a4c04beeca7779c41e071262299ada35\nproject_uri:
        https://rubygems.org/gems/paranoid\ngem_uri: https://rubygems.org/gems/paranoid-0.0.7.gem\nhomepage_uri:
        http://github.com/xspond/paranoid/\nwiki_uri: \ndocumentation_uri: http://www.rubydoc.info/gems/paranoid/0.0.7\nmailing_list_uri:
        \nsource_code_uri: \nbug_tracker_uri: \ndependencies:\n  development: []\n
        \ runtime:\n  - name: activerecord\n    requirements: \">= 3.0.0.beta\"\n"
  recorded_at: Fri, 06 Jan 2017 17:10:54 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/paranoid.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Etag:
      - '"d04e1353176f179e7346c4297b658460"'
      Last-Modified:
      - Mon, 27 Jun 2016 07:19:00 GMT
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Rails 54.186.104.15:443
    body:
      encoding: ASCII-8BIT
      string: "---\n- authors: David Genord II\n  built_at: '2010-09-10T04:00:00.000Z'\n
        \ created_at: '2010-09-10T19:53:26.640Z'\n  description: ''\n  downloads_count:
        3108\n  metadata: {}\n  number: 0.0.7\n  summary: Enable soft delete of ActiveRecord
        records. Based off defunct ActsAsParanoid\n    and IsParanoid\n  platform:
        ruby\n  rubygems_version: \">= 0\"\n  ruby_version: \n  prerelease: false\n
        \ licenses: \n  requirements: \n  sha: 3d8ee9a8b8266d458ec213fa0c8cd462a4c04beeca7779c41e071262299ada35\n-
        authors: David Genord II\n  built_at: '2010-07-28T04:00:00.000Z'\n  created_at:
        '2010-07-28T21:09:20.670Z'\n  description: ''\n  downloads_count: 2035\n  metadata:
        {}\n  number: 0.0.5\n  summary: Enable soft delete of ActiveRecord records.
        Based off defunct ActsAsParanoid\n    and IsParanoid\n  platform: ruby\n  rubygems_version:
        \">= 0\"\n  ruby_version: \n  prerelease: false\n  licenses: \n  requirements:
        \n  sha: 6a3eec351a20d6fe0307883bd836e28b687276a4b39e8b60[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/paranoid/owners.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"902c6836039d22d003a6f6a5ae28fac6"'
    body:
      encoding: ASCII-8BIT
      string: |
        ---
        - id: 40341
          handle: albus522
          email: albus522@gmail.com
  recorded_at: Fri, 06 Jan 2017 17:10:55 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/activerecord.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
    [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/activerecord.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Etag:
      - '"402e67f02b606b9d2fffccde7d073ff9"'
      Last-Modified:
      - Wed, 21 Dec 2016 00:06:40[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/activerecord/owners.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backen[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/activemodel.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
     [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/activemodel.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Etag:
      - '"363bb9ba0c18143273aac7a4a5a37514"'
      Last-Modified:
      - Wed, 21 Dec 2016 00:06:28 [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/activemodel/owners.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/activesupport.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
   [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/activesupport.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Etag:
      - '"02504bf3f890c4cd108158b45db032a6"'
      Last-Modified:
      - Wed, 21 Dec 2016 00:06:1[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/activesupport/owners.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backe[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/concurrent-ruby.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"0c953203fd4a03f39ba9d1e4c7d35e5e"'
    body:
      encoding: ASCII-8BIT
      string: |
        ---
        name: concurrent-ruby
        downloads: 13499595
        version: 1.0.4
        version_downloads: 220073
        platform: ruby
        authors: Jerry D'Antonio, Petr Chalupa, The Ruby Concurrency Team
        info: |
          Modern concurrency tools including agents, futures, promises, thread pools, actors, supervisors, and more.
          Inspired by Erlang, Clojure, Go, JavaScript, actors, and classic concurrency patterns.
        licenses:
        - MIT
        metadata: {}
        sha: ebd266064280cf52fab521ddd369d51a95f6aff664119e229b07101a6088f25c
        project_uri: https://rubygems.org/gems/concurrent-ruby
        gem_uri: https://rubygems.org/gems/concurrent-ruby-1.0.4.gem
        homepage_uri: http://www.concurrent-ruby.com
        wiki_uri: ''
        documentation_uri: http://ruby-concurrency.github.io/concurrent-ruby/frames.html
        mailing_list_uri: https://groups.google.com/forum/#!forum/concurrent-ruby
        source_code_uri: https://github.com/ruby-concurrency/concurrent-ruby
        bug_tracker_uri: https://github.com/ruby-concurrency/concurrent-ruby/issues
        dependencies:
          development: []
          runtime: []
  recorded_at: Fri, 06 Jan 2017 17:11:00 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/concurrent-ruby.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Etag:
      - '"bb4030b9f36419af88615021440d5013"'
      Last-Modified:
      - Tue, 27 Dec 2016 02:10[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/concurrent-ruby/owners.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"3523dbd87f353f0479a302c4ce09e320"'
    body:
      encoding: ASCII-8BIT
      string: |
        ---
        - id: 50229
          handle: pitr-ch
        - id: 85079
          handle: mighe
          email: michele.dellatorre@gmail.com
        - id: 65379
          handle: jdantonio
  recorded_at: Fri, 06 Jan 2017 17:11:02 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/i18n.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Ra[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/i18n.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Etag:
      - '"e9df10807a10300b48c353cf1ec21142"'
      Last-Modified:
      - Mon, 21 Nov 2016 00:47:30 GMT
   [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/i18n/owners.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"cd78e3698c1029e78e967e5f492384fb"'
    body:
      encoding: ASCII-8BIT
      string: "---\n- id: 27\n  handle: ryanbigg\n  email: radarlistener@gmail.com\n-
        id: 2536\n  handle: \n  email: svenfuchs@artweb-design.de\n- id: 2213\n  handle:
        clemensk\n  email: clemens@railway.at\n- id: 40799\n  handle: saimon\n  email:
        saimonmoore@gmail.com\n- id: 818\n  handle: matt_a\n  email: mattaimonetti@gmail.com\n-
        id: 20295\n  handle: arkanis\n  email: stephan.soller@helionweb.de\n- id:
        20169\n  handle: sfuchs\n  email: rubyforge.svenfuchs@artweb-design.de\n-
        id: 2568\n  handle: josevalim\n  email: jose.valim@gmail.com\n- id: 50166\n
        \ handle: Tigrish\n  email: chris@tigrish.com\n- id: 429\n  handle: cantoniodasilva\n
        \ email: carlosantoniodasilva@gmail.com\n"
  recorded_at: Fri, 06 Jan 2017 17:11:03 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/minitest.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/minitest.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Etag:
      - '"c453d37fdee31d5ca6667e4e0478878e"'
      Last-Modified:
      - Fri, 02 Dec 2016 00:04:36 GMT[...]
