---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/tzinfo.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"e0f7507515d28cb79f24fcbd1da959f6"'
    body:
      encoding: ASCII-8BIT
      string: |
        ---
        name: tzinfo
        downloads: 99085899
        version: 1.2.2
        version_downloads: 46588325
        platform: ruby
        authors: Philip Ross
        info: TZInfo provides daylight savings aware transformations between times in different
          time zones.
        licenses:
        - MIT
        metadata: {}
        sha: fdb1d3fdf2776d490c82a0e589a08e7cbde70ac1ae7d2b1f0b7e77f3e6b801b0
        project_uri: https://rubygems.org/gems/tzinfo
        gem_uri: https://rubygems.org/gems/tzinfo-1.2.2.gem
        homepage_uri: http://tzinfo.github.io
        wiki_uri: ''
        documentation_uri: http://www.rubydoc.info/gems/tzinfo/1.2.2
        mailing_list_uri: http://rubyforge.org/mail/?group_id=894
        source_code_uri: https://github.com/tzinfo/tzinfo
        bug_tracker_uri: https://github.com/tzinfo/tzinfo/issues
        dependencies:
          development: []
          runtime:
          - name: thread_safe
            requirements: "~> 0.1"
  recorded_at: Fri, 06 Jan 2017 17:11:23 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/tzinfo.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Etag:
      - '"0f43c79ff8803a5a931535807bcb7f8f"'
      Last-Modified:
      - Fri, 28 Oct 2016 18:04:19 GMT
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Rails 54.186.104.15:443
    body:
      encoding: ASCII-8BIT
      string: "---\n- authors: Philip Ross\n  built_at: '2014-08-08T00:00:00.000Z'\n
        \ created_at: '2014-08-08T18:00:21.494Z'\n  description: TZInfo provides daylight
        savings aware transformations between times\n    in different time zones.\n
        \ downloads_[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/tzinfo/owners.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"841cab13c698a6b7e037cf8ba7e31e87"'
    body:
      encoding: ASCII-8BIT
      string: |
        ---
        - id: 2981
          handle: PhilRoss
  recorded_at: Fri, 06 Jan 2017 17:11:24 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/thread_safe.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
     [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/thread_safe.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Etag:
      - '"189358694ff4d5e04d01703c596065be"'
      Last-Modified:
      - Mon, 27 Jun 2016 15:40:17 [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/thread_safe/owners.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"0e92dc1143a385c7b00f5c1875516a41"'
    body:
      encoding: ASCII-8BIT
      string: |
        ---
        - id: 65379
          handle: jdantonio
        - id: 1825
          handle: headius
          email: headius@headius.com
        - id: 58885
          handle: thedarkone
          email: thedarkone2@gmail.com
  recorded_at: Fri, 06 Jan 2017 17:11:25 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/tzinfo.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"6ed3d964f7d3028fe1f6c87f193f6078"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"tzinfo","downloads":99152310,"version":"1.2.2","version_downloads":46645708,"platform":"ruby","authors":"Philip
        Ross","info":"TZInfo provides daylight savings aware transformations between
        times in different time zones.","licenses":["MIT"],"metadata":{},"sha":"fdb1d3fdf2776d490c82a0e589a08e7cbde70ac1ae7d2b1f0b7e77f3e6b801b0","project_uri":"https://rubygems.org/gems/tzinfo","gem_uri":"https://rubygems.org/gems/tzinfo-1.2.2.gem","homepage_uri":"http://tzinfo.github.io","wiki_uri":"","documentation_uri":"http://www.rubydoc.info/gems/tzinfo/1.2.2","mailing_list_uri":"http://rubyforge.org/mail/?group_id=894","source_code_uri":"https://github.com/tzinfo/tzinfo","bug_tracker_uri":"https://github.com/tzinfo/tzinfo/issues","dependencies":{"development":[],"runtime":[{"name":"thread_safe","requirements":"~\u003e
        0.1"}]}}'
  recorded_at: Sat, 07 Jan 2017 10:19:43 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/tzinfo.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0f43c79ff8803a5a931535807bcb7f8f"'
      Last-Modified:
      - Fri, 28 Oct 2016 18:04:19 GMT
      X-Backend:
      - F_Rails 54.186.104.15:443
    body:
      encoding: ASCII-8BIT
      string: '[{"authors":"Philip Ross","built_at":"2014-08-08T00:00:00.000Z","created_at":"2014-08-08T18:00:21.494Z","description":"TZInfo
        provides daylight savings aware transformations between times in different
        time zones.","downloads_count":46645708,"metadata":{},"number":"1.2.2","summary":"Daylight
        savings aware timezone library","platform":"ruby","rubygems_version":"\u003e=
        0","ruby_version":"\u003e= 1.8.7","prerelease":false,"licenses":["MIT"],"requirements":[],"sha":"fdb1d3fdf2776d490c82a0e589a08e7cbde70ac1ae7d2b1f0b7e77f3e6b801b0"},{"authors":"Philip
        Ross","built_at":"2014-06-01T00:00:00.000Z","created_at":"2014-06-01T14:57:46.796Z","description":"TZInfo
        provides daylight savings aware transformations between times in different
        time zones.","downloads_count":1707119,"metadata":{},"number":"1.2.1","summary":"Daylight
        savings aware timezone library","platform":"ruby","rubygems_v[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/tzinfo/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"9f4bde443e43a193a00baad97ae345ba"'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":2981,"handle":"PhilRoss"}]'
  recorded_at: Sat, 07 Jan 2017 10:19:43 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/thread_safe.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"eb1c255c97b3ae6752a85[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/thread_safe.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"189358694ff4d5e04d01703c596065be"'
      Last-Modified:
      - Mon,[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/thread_safe/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"89d9de46ea3853dd2eef26dd2cf0188b"'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":65379,"handle":"jdantonio"},{"id":1825,"handle":"headius","email":"headius@headius.com"},{"id":58885,"handle":"thedarkone","email":"thedarkone2@gmail.com"}]'
  recorded_at: Sat, 07 Jan 2017 10:19:44 GMT
- request:
    method: get
    uri: https://api.github.com/repos/tzinfo/tzinfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZGFuY2luZ2xpZ2h0bmluZzpyYWtrYXVzMis=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4758'
      X-Ratelimit-Reset:
      - '1483786278'
      Etag:
      - W/"65a156565a5edd797da50934ecb3d962"
      Last-Modified:
      - Wed, 14 Dec 2016 08:13:52 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":11879463,"name":"tzinfo","full_name":"tzinfo/tzinfo","owner":{"login":"tzinfo","id":2209790,"avatar_url":"https://avatars.githubusercontent.com/u/2209790?v=3","gravatar_id":"","url":"https://api.github.com/users/tzinfo","html_url":"https://github.com/tzinfo","followers_url":"https://api.github.com/users/tzinfo/followers","following_url":"https://api.github.com/users/tzinfo/following{/other_user}","gists_url":"https://api.github.com/users/tzinfo/gists{/gist_id}","starred_url":"https://api.github.com/users/tzinfo/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tzinfo/subscriptions","organizations_url":"https://api.github.com/users/tzinfo/orgs","repos_url":"https://api.github.com/users/tzinfo/repos","events_url":"https://api.github.com/users/tzinfo/events{/privacy}","received_events_url":"https://api.github.com/users/tzinfo/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/tzinfo/tzinfo","description":"TZInfo
        - Ruby Timezone Library","fork":false,"url":"https://api.github.com/repos/tzinfo/tzinfo","forks_url":"https://api.github.com/repos/tzinfo/tzinfo/forks","keys_url":"https://api.github.com/repos/tzinfo/tzinfo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/tzinfo/tzinfo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/tzinfo/tzinfo/teams","hooks_url":"https://api.github.com/repos/tzinfo/tzinfo/hooks","issue_events_url":"https://api.github.com/repos/tzinfo/tzinfo/issues/events{/number}","events_url":"https://api.github.com/repos/tzinfo/tzinfo/events","assignees_url":"https://api.github.com/repos/tzinfo/tzinfo/assignees{/user}","branches_url":"https://api.github.com/repos/tzinfo/tzinfo/branches{/branch}","tags_url":"https://api.github.com/repos/tzinfo/tzinfo/tags","blobs_url":"https://api.github.com/repos/tzinfo/tzinfo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/tzinfo/tzinfo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/tzinfo/tzinfo/git/refs{/sha}","trees_url":"https://api.github.com/repos/tzinfo/tzinfo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/tzinfo/tzinfo/statuses/{sha}","languages_url":"https://api.github.com/repos/tzinfo/tzinfo/languages","stargazers_url":"https://api.github.com/repos/tzinfo/tzinfo/stargazers","contributors_url":"https://api.github.com/repos/tzinfo/tzinfo/contributors","subscribers_url":"https://api.github.com/repos/tzinfo/tzinfo/subscribers","subscription_url":"https://api.github.com/repos/tzinfo/tzinfo/subscription","commits_url":"https://api.github.com/repos/tzinfo/tzinfo/commits{/sha}","git_commits_url":"https://api.github.com/repos/tzinfo/tzinfo/git/commits{/sha}","comments_url":"https://api.github.com/repos/tzinfo/tzinfo/comments{/number}","issue_comment_url":"https://api.github.com/repos/tzinfo/tzinfo/issues/comments{/number}","contents_url":"https://api.github.com/repos/tzinfo/tzinfo/contents/{+path}","compare_url":"https://api.github.com/repos/tzinfo/tzinfo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/tzinfo/tzinfo/merges","archive_url":"https://api.github.com/repos/tzinfo/tzinfo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/tzinfo/tzinfo/downloads","issues_url":"https://api.github.com/repos/tzinfo/tzinfo/issues{/number}","pulls_url":"https://api.github.com/repos/tzinfo/tzinfo/pulls{/number}","milestones_url":"https://api.github.com/repos/tzinfo/tzinfo/milestones{/number}","notifications_url":"https://api.github.com/repos/tzinfo/tzinfo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/tzinfo/tzinfo/labels{/name}","releases_url":"https://api.github.com/repos/tzinfo/tzinfo/releases{/id}","deployments_url":"https://api.github.com/repos/tzinfo/tzinfo/deployments","created_at":"2013-08-04T14:08:00Z","updated_at":"2016-12-14T08:13:52Z","pushed_at":"2017-01-06T21:19:12Z","git_url":"git://github.com/tzinfo/tzinfo.git","ssh_url":"git@github.com:tzinfo/tzinfo.git","clone_url":"https://github.com/tzinfo/tzinfo.git","svn_url":"https://github.com/tzinfo/tzinfo","homepage":"","size":7568,"stargazers_count":177,"watchers_count":177,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":38,"mirror_url":null,"open_issues_count":0,"forks":38,"open_issues":0,"watchers":177,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true},"organization":{"login":"tzinfo","id":2209790,"avatar_url":"https://avatars.githubusercontent.com/u/2209790?v=3","gravatar_id":"","url":"https://api.github.com/users/tzinfo","html_url":"https://github.com/tzinfo","followers_url":"https://api.github.com/users/tzinfo/followers","following_url":"https://api.github.com/users/tzinfo/following{/other_user}","gists_url":"https://api.github.com/users/tzinfo/gists{/gist_id}","starred_url":"https://api.github.com/users/tzinfo/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tzinfo/subscriptions","organizations_url":"https://api.github.com/users/tzinfo/orgs","repos_url":"https://api.github.com/users/tzinfo/repos","events_url":"https://api.github.com/users/tzinfo/events{/privacy}","received_events_url":"https://api.github.com/users/tzinfo/received_events","type":"Organization","site_admin":false},"network_count":38,"subscribers_count":14}'
  recorded_at: Sat, 07 Jan 2017 10:19:45 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/tzinfo/tzinfo/assignees?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZGFuY2luZ2xpZ2h0bmluZzpyYWtrYXVzMis=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimi[...]
- request:
    method: get
    uri: https://api.github.com/repos/ruby-concurrency/thread_safe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZGFuY2luZ2xpZ2h0bmluZzpyYWtrYXVzMis=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remain[...]
- request:
    method: get
    uri: https://api.github.com/repos/ruby-concurrency/thread_safe/assignees?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZGFuY2luZ2xpZ2h0bmluZzpyYWtrYXVzMis=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
 [...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/tzinfo/tzinfo/stats/commit_activity
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZGFuY2luZ2xpZ2h0bmluZzpyYWtrYXVzMis=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4752'
      X-Ratelimit-Reset:
      - '1483786278'
      Etag:
      - W/"44fd03eedad33d614dbc6b1898df9c7c"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"days":[0,0,0,0,0,0,0],"total":0,"week":1452384000},{"days":[0,0,0,0,0,0,0],"total":0,"week":1452988800},{"days":[0,0,0,0,3,0,0],"total":3,"week":1453593600},{"days":[0,0,0,1,0,0,0],"total":1,"week":1454198400},{"days":[0,2,0,0,0,0,0],"total":2,"week":1454803200},{"days":[0,0,0,0,0,0,0],"total":0,"week":1455408000},{"days":[0,0,0,0,0,0,3],"total":3,"week":1456012800},{"days":[1,0,0,0,0,0,0],"total":1,"week":1456617600},{"days":[0,0,0,0,0,0,0],"total":0,"week":1457222400},{"days":[0,0,0,0,0,1,0],"total":1,"week":1457827200},{"days":[0,[...]
[...]
