%h1 Listing tags

%table.table.table-striped
  %thead
    %tr
      %th Tag Name
      %th Usage Count
      %th Top Gems
      %th
      %th

  %tbody
    - @tags.each do |tag|
      %tr
        %td= link_to tag.name , search_tag_url(tag.name)
        %td= tag.taggings_count
        %td
          - LaserGem.tagged_with(tag.name).limit(3).each do |laser|
            =link_to_laser laser
        %td= link_to 'Show', tag_path(tag)
