%p#notice= notice

%p
  %b Name:
  = link_to @tag.name , search_tag_url(@tag.name)
%p
  %b Gems:
  - LaserGem.tagged_with(@tag.name).each do |laser|
    =link_to_laser laser

= link_to 'Back', tags_path
\|
= link_to 'Edit', edit_tag_path(@tag)
