%p#notice= notice

%p
  %b Name:
  = @tag.name
%p
  %b Gems:
  - LaserGem.tagged_with(@tag.name).each do |laser|
    =link_to_laser laser

= link_to 'Edit', edit_tag_path(@tag)
\|
= link_to 'Back', tags_path
