---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/rails.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"1a3f5dbcb51734417161e65bfbb74128"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"rails","downloads":83621124,"version":"5.0.1","version_downloads":115296,"platform":"ruby","authors":"David
        Heinemeier Hansson","info":"Ruby on Rails is a full-stack web framework optimized
        for programmer happiness and sustainable productivity. It encourages beautiful
        code by favoring convention over configuration.","licenses":["MIT"],"metadata":{},"sha":"3f9acd2c489c9eed11ff200a37cb32784cf15ddc5e561657d50b847ced3c361d","project_uri":"https://rubygems.org/gems/rails","gem_uri":"https://rubygems.org/gems/rails-5.0.1.gem","homepage_uri":"http://rubyonrails.org","wiki_uri":"","documentation_uri":"http://api.rubyonrails.org","mailing_list_uri":"http://groups.google.com/group/rubyonrails-talk","source_code_uri":"http://github.com/rails/rails","bug_tracker_uri":"http://github.com/rails/rails/issues","dependencies":{"development":[],"runtime":[{"name":"actioncable","requirements":"=
        5.0.1"},{"name":"actionmailer","requirements":"= 5.0.1"},{"name":"actionpack","requirements":"=
        5.0.1"},{"name":"actionview","requirements":"= 5.0.1"},{"name":"activejob","requirements":"=
        5.0.1"},{"name":"activemodel","requirements":"= 5.0.1"},{"name":"activerecord","requirements":"=
        5.0.1"},{"name":"activesupport","requirements":"= 5.0.1"},{"name":"bundler","requirements":"\u003c
        2.0, \u003e= 1.3.0"},{"name":"railties","requirements":"= 5.0.1"},{"name":"sprockets-rails","requirements":"\u003e=
        2.0.0"}]}}'
  recorded_at: Sat, 07 Jan 2017 11:14:03 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/rails.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a692f80ea73fb36c57dc63b598674075"'
      Last-Modified:
      - Wed, 21 Dec 2016 00:07:48 GMT
      X-Backend:
      - F_Rails 54.186.104.15:443
    body:
      encoding: ASCII-8BIT
      string: '[{"authors":"David Heinemeier Hansson","built_at":"2016-12-21T00:00:00.000Z","created_at":"2016-12-21T00:07:46.527Z","description":"Ruby
        on Rails is a full-stack web framework optimized for programmer happiness
        and sustainable productivity. It encourages beautiful code by favoring convention
        over configuration.","downloads_count":115133,"metadata":{},"number":"5.0.1","summary":"Full-stack
        web application framework.","platform":"ruby","rubygems_version":"\u003e=
        1.8.11","ruby_version":"\u003e= 2.2.2","prerelease":false,"licenses":["MIT"],"requirements":[],"sha":"3f9acd2c489c9eed11ff200a37cb32784cf15ddc5e561657d50b847ced3c361d"},{"authors":"David
        Heinemeier Hansson","built_at":"2016-12-09T00:00:00.000Z","created_at":"2016-12-09T19:13:12.953Z","description":"Ruby
        on Rails is a full-stack web framework optimized for programmer happiness
        and sustainable productivity. It encourages beautiful code by favoring convention
        over configuration.","downloads_count":2305,"metadata":{},"[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/rails/owners.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1da62a2449ff2bdd425e9e82261f7b72
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"74c1068c19cd1d3ee0c82256267fc1e9"'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":71398,"handle":"kaspth","email":"kaspth@gmail.com"},{"id":528,"handle":"matthewd","email":"matthew@trebex.net"},{"id":939,"handle":"senny","email":"yves.senn@gmail.com"},{"id":59702,"handle":"chancancode","email":"godfreykfc@gmail.com"},{"id":662,"handle":"pixeltrix","email":"andyw@pixeltrix.co.uk"},{"id":337,"handle":null,"email":"jeremy@bitsweat.net"},{"id":1550,"handle":"webster132","email":"david@loudthinking.com"},{"id":32977,"handle":"fxn","email":"fxn@hashref.com"},{"id":207,"handle":"tenderlove","email":"aaron.patterson@gmail.com"},{"id":840,"handle":"spastorino","email":"santiago@wyeworks.com"},{"id":429,"handle":"cantoniodasilva","email":"carlosantoniodasilva@gmail.com"},{"id":43998,"handle":"guilleiguaran","email":"guilleiguaran@gmail.com"},{"id":47349,"handle":"rafaelfranca","email":"rafaelmfranca@gmail.com"}]'
  recorded_at: Sat, 07 Jan 2017 11:14:04 GMT
- request:
    method: get
    uri: https://api.github.com/repos/rails/rails
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZGFuY2luZ2xpZ2h0bmluZzpyYWtrYXVzMis=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4865'
      X-Ratelimit-Reset:
      - '1483789927'
      Etag:
      - W/"3904218eff3b4032d1af6fed19f38bfc"
      Last-Modified:
      - Sat, 07 Jan 2017 11:12:11 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":8514,"name":"rails","full_name":"rails/rails","owner":{"login":"rails","id":4223,"avatar_url":"https://avatars.githubusercontent.com/u/4223?v=3","gravatar_id":"","url":"https://api.github.com/users/rails","html_url":"https://github.com/rails","followers_url":"https://api.github.com/users/rails/followers","following_url":"https://api.github.com/users/rails/following{/other_user}","gists_url":"https://api.github.com/users/rails/gists{/gist_id}","starred_url":"https://api.github.com/users/rails/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rails/subscriptions","organizations_url":"https://api.github.com/users/rails/orgs","repos_url":"https://api.github.com/users/rails/repos","events_url":"https://api.github.com/users/rails/events{/privacy}","received_events_url":"https://api.github.com/users/rails/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/rails/rails","description":"Ruby
        on Rails","fork":false,"url":"https://api.github.com/repos/rails/rails","forks_url":"https://api.github.com/repos/rails/rails/forks","keys_url":"https://api.github.com/repos/rails/rails/keys{/key_id}","collaborators_url":"https://api.github.com/repos/rails/rails/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/rails/rails/teams","hooks_url":"https://api.github.com/repos/rails/rails/hooks","issue_events_url":"https://api.github.com/repos/rails/rails/issues/events{/number}","events_url":"https://api.github.com/repos/rails/rails/events","assignees_url":"https://api.github.com/repos/rails/rails/assignees{/user}","branches_url":"https://api.github.com/repos/rails/rails/branches{/branch}","tags_url":"https://api.github.com/repos/rails/rails/tags","blobs_url":"https://api.github.com/repos/rails/rails/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/rails/rails/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/rails/rails/git/refs{/sha}","trees_url":"https://api.github.com/repos/rails/rails/git/trees{/sha}","statuses_url":"https://api.github.com/repos/rails/rails/statuses/{sha}","languages_url":"https://api.github.com/repos/rails/rails/languages","stargazers_url":"https://api.github.com/repos/rails/rails/stargazers","contributors_url":"https://api.github.com/repos/rails/rails/contributors","subscribers_url":"https://api.github.com/repos/rails/rails/subscribers","subscription_url":"https://api.github.com/repos/rails/rails/subscription","commits_url":"https://api.github.com/repos/rails/rails/commits{/sha}","git_commits_url":"https://api.github.com/repos/rails/rails/git/commits{/sha}","comments_url":"https://api.github.com/repos/rails/rails/comments{/number}","issue_comment_url":"https://api.github.com/repos/rails/rails/issues/comments{/number}","contents_url":"https://api.github.com/repos/rails/rails/contents/{+path}","compare_url":"https://api.github.com/repos/rails/rails/compare/{base}...{head}","merges_url":"https://api.github.com/repos/rails/rails/merges","archive_url":"https://api.github.com/repos/rails/rails/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/rails/rails/downloads","issues_url":"https://api.github.com/repos/rails/rails/issues{/number}","pulls_url":"https://api.github.com/repos/rails/rails/pulls{/number}","milestones_url":"https://api.github.com/repos/rails/rails/milestones{/number}","notifications_url":"https://api.github.com/repos/rails/rails/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/rails/rails/labels{/name}","releases_url":"https://api.github.com/repos/rails/rails/releases{/id}","deployments_url":"https://api.github.com/repos/rails/rails/deployments","created_at":"2008-04-11T02:19:47Z","updated_at":"2017-01-07T11:12:11Z","pushed_at":"2017-01-07T11:11:42Z","git_url":"git://github.com/rails/rails.git","ssh_url":"git@github.com:rails/rails.git","clone_url":"https://github.com/rails/rails.git","svn_url":"https://github.com/rails/rails","homepage":"http://rubyonrails.org","size":141757,"stargazers_count":34006,"watchers_count":34006,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":13822,"mirror_url":null,"open_issues_count":1215,"forks":13822,"open_issues":1215,"watchers":34006,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true},"organization":{"login":"rails","id":4223,"avatar_url":"https://avatars.githubusercontent.com/u/4223?v=3","gravatar_id":"","url":"https://api.github.com/users/rails","html_url":"https://github.com/rails","followers_url":"https://api.github.com/users/rails/followers","following_url":"https://api.github.com/users/rails/following{/other_user}","gists_url":"https://api.github.com/users/rails/gists{/gist_id}","starred_url":"https://api.github.com/users/rails/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rails/subscriptions","organizations_url":"https://api.github.com/users/rails/orgs","repos_url":"https://api.github.com/users/rails/repos","events_url":"https://api.github.com/users/rails/events{/privacy}","received_events_url":"https://api.github.com/users/rails/received_events","type":"Organization","site_admin":false},"network_count":13822,"subscribers_count":2373}'
  recorded_at: Sat, 07 Jan 2017 11:14:05 GMT
- request:
    method: get
    uri: https://api.github.com/repos/rails/rails/assignees?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZGFuY2luZ2xpZ2h0bmluZzpyYWtrYXVzMis=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/rails/rails/stats/commit_activity
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZGFuY2luZ2xpZ2h0bmluZzpyYWtrYXVzMis=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4858'
      X-Ratelimit-Reset:
      - '1483789927'
      Etag:
      - W/"5d6f3e0e855abf352a36acf25177fe6f"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"days":[2,15,11,4,18,9,9],"total":68,"week":1452384000},{"days":[12,9,18,16,8,15,9],"total":87,"week":1452988800},{"days":[14,11,8,23,26,8,26],"total":116,"week":1453593600},{"days":[15,30,15,13,25,20,17],"total":135,"week":1454198400},{"days":[13,16,12,18,18,36,12],"total":125,"week":1454803200},{"days":[7,16,20,23,22,16,12],"total":116,"week":1455408000},{"days":[9,11,23,35,22,13,16],"total":129,"week":1456012800},{"days":[14,14,10,15,24,15,12],"total":104,"week":1456617600},{"days":[11,8,9,9,14,12,7],"total":70,"week":1457222400},{"day[...]
