.card-deck-wrapper
  .card-deck
    .card.gem_element
      .card-block
        %h4.card-title
          = link_to laser_gem.name, laser_gem_path(laser_gem.name)
          %small.text-muted
            = laser_gem.gem_spec.current_version
        %p.card-text
          = laser_gem.gem_spec.info
        %p.card-text
          -laser_gem.tag_list.each do |tag_name|
            %span.tag.tag-default=link_to(tag_name, search_tag_url(tag_name))
        %p.card-text
          %small.text-muted
            =k_numbers laser_gem.gem_spec.total_downloads
            downloads
        %p.card-text
          - if laser_gem.gem_git != nil
            = render "index_graph" , laser_gem: laser_gem
