.search
  .searchbox
    /%form{method: "", action: ""}
    %input.search_results{ name: "searchbox", type: "text", placeholder: "Search..."}
    %button.icon{type: "submit"}
      %i.fa.fa-search
    / search_object = gets.chomp
    %h3 You have searched for "search_object"

  .options
    .filter
      %label{for: "filter"}Filter by:
      %select{name: "filter_choice"}
        %option{value: ""}
        %option{value: "fhgdfkgu"} fhgdfkgu
        %option{value: "fhgdfkgu"} fhgdfkgu
        %option{value: "fhgdfkgu"} fhgdfkgu
    .order
      %label{for: "order"}Order by:
      %select{name: "order_choice"}
        %option{value: ""}
        %option{value: "fhgdfkgu"} fhgdfkgu
        %option{value: "fhgdfkgu"} fhgdfkgu
        %option{value: "fhgdfkgu"} fhgdfkgu
  .results
    .display
      - @laser_gems.each do |laser_gem|
        .gem_element
          .gem_name
            %h2= link_to(laser_gem.name, laser_gem_path(laser_gem.name))
            %span
              \-
              = laser_gem.gem_spec.current_version
          .gem_main
            .gem_description
              %p
              \-
              = laser_gem.gem_spec.info
            .gem_tags
              %h4 Related tags
          .gem_numbers
            .gem_statistic
              .value
                =k_numbers laser_gem.gem_spec.total_downloads
              .label Downloads
            .gem_favorites
              .meta
                %a 100 favorites

.featured
  %h3 Featured Gem of the Month
  .gem_featured
    %h4 Example
    %p Example is a nice thing that helps you to get an idea of a concept.
    %a{href: ""} Learn More
  %br
  =link_to('How do we choose the featured gem of the month?', '/faq')

.popular
  %h3 Most popular
  .gem_popular
    %h4 Gems
    .gem_popular_container
      %ul.cloud
        %li rails
        %li susy
        %li breakpoint
        %li rake
        %li bundler
        %li sass
        %li rspec
        %li haml
        %li nokogiri
        %li json
  .tag_popular
    %h4 Tags
    .tag_popular_container
      %a style
      %a develop
      %a test
