.search
  .searchbox
    = search_form_for @q do |f|
      = f.search_field :name_cont
      = f.submit
  .options
    .filter
      %label{for: "filter"}Filter by:
      %select{name: "filter_choice"}
        %option{value: ""}
        %option{value: "fhgdfkgu"} fhgdfkgu
        %option{value: "fhgdfkgu"} fhgdfkgu
        %option{value: "fhgdfkgu"} fhgdfkgu
    .order
      %label{for: "order"}Order by:
      %select{name: "order_choice"}
        %option{value: ""}
        %option{value: "fhgdfkgu"} fhgdfkgu
        %option{value: "fhgdfkgu"} fhgdfkgu
        %option{value: "fhgdfkgu"} fhgdfkgu
  .results
    .gem_pages#gem_pages
      =render @laser_gems
    .display#infinite-scrolling
      = will_paginate @laser_gems


.featured
  %h3 Featured Gem of the Month
  .gem_featured
    %h4 Example
    %p Example is a nice thing that helps you to get an idea of a concept.
    %a{href: ""} Learn More
  %br
  =link_to('How do we choose the featured gem of the month?', '/faq')

.popular
  %h3 Most popular
  .gem_popular
    %h4 Gems
    .gem_popular_container
      -laser_gems_cloud.each do |laser_gem|
        =laser_gem.name

  .tag_popular
    %h4 Tags
    .tag_popular_container
      -tags_cloud.each do |tag|
        =tag
