.search
  .searchbox
    /%form{method: "", action: ""}
    %input.search_results{ name: "searchbox", type: "text", placeholder: "Search..."}
    %button.icon{type: "submit"}
      %i.fa.fa-search
    / search_object = gets.chomp
    %h3 You have searched for "search_object"
    
  .options
    .filter
      %label{for: "filter"}Filter by:
      %select{name: "filter_choice"}
        %option{value: ""}
        %option{value: "fhgdfkgu"} fhgdfkgu
        %option{value: "fhgdfkgu"} fhgdfkgu
        %option{value: "fhgdfkgu"} fhgdfkgu
    .order
      %label{for: "order"}Order by:
      %select{name: "order_choice"}
        %option{value: ""}
        %option{value: "fhgdfkgu"} fhgdfkgu
        %option{value: "fhgdfkgu"} fhgdfkgu
        %option{value: "fhgdfkgu"} fhgdfkgu

  .results
    .display
      - @laser_gems.each do |laser_gem|
        .gem_element
          -# laser_gem
          = link_to(laser_gem.name, laser_gem_path(laser_gem.name))

.featured
  %h3 Featured Gem of the Month
  .gem_featured
    %h4 Example
    %p Example is a nice thing that helps you to get an idea of a concept.
    %a{href: ""} Learn More
  %br
  =link_to('How do we choose the featured gem of the month?', '/faq')

.popular
  %h3 Most popular
  .gem_popular
    %h4 Gems
  .tag_popular
    %h4 Tags
    .ui.labels
      %a.ui.label style
      %a.ui.purple.label develop
      %a.ui.grey.label test
