.aboutus_content {
  margin-left: span(2);
  margin-right: span(2);
  @include span(8 of 12);

  h1 {
    font-family: 'Pattaya', sans-serif;
    font-size: 60px;
    text-align: right;
  }

  h2 {
    font-family: 'Pattaya', sans-serif;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .title {
    @include span(8 of 12);
  }

  .t {
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    //background-color: #f1f1f2;
  }

  .about_body {
    @include span(12);
  }

  .person {
    @include span(12);
    margin-top: 20px;
    margin-bottom: 20px;
  }

    .pic{
      width: 100px;
      height: 100px;
      object-fit: contain;
      @include span(3.5);
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .text {
      font-family: sans-serif;
      font-size: 16px;
      text-align: justify;
      margin-top: 20px;
      margin-bottom: 20px;
      @include span(12 0f 8.5);
    }
    .name{
      @include span(8.5);
      font-family: sans-serif;
      font-size: 30px;
      background-color: white;
      margin-top: 20px;
    }

}
