.aboutus_content {
  @include span(12);
  margin-left: span(1);

  h1 {
    font-family: 'Pattaya', sans-serif;
    font-size: 60px;
    text-align: center;
  }

  h2 {
    font-family: 'Pattaya', sans-serif;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .title {
    @include span(10);
  }

  .about_body {
    @include span(10 of 12);
  }

  .person {
    @include span(10 of 12);
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .pic{
    width: 100px;
    height: 100px;
    object-fit: contain;
    @include span(3);
    margin-top: 10px;
    .img {
      @include span(10 of 12);
      margin-top: 20px;
    }
  }
    .text {
      font-family: sans-serif;
      font-size: 16px;
      text-align: justify;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .name{
      @include span(9);
      font-family: sans-serif;
      font-size: 30px;
      background-color: white;
      margin-top: 20px;
    }

}
