//Grids
$enable-grid-classes: false;

//Colors
$laser-black: #131418;
$pomegranate: #C0392B;
$flat-white: #fefefe;

$laser-maroon: #903940;
$laser-gold: #ECA35C;
$laser-teal: #41877B;
$laser-black: #272020;
$laser-muted-red: #CF5B5B;
$laser-red: #E2513E;

$raisa-red: #8E1313;
$raisa-teal: #3B5F7C;

//Cards
//$card-cap-bg: $laser-gold;

//Tags
$tag-default-bg: $laser-gold;

@mixin highlight {
  .highlight{
      color: $laser-maroon;
    }
}

@mixin a-link ($tag) {
  text-decoration: none;
  font-weight: bold;
  @if $tag {
    color: $flat-white;
  } @else {
    color: $laser-black;
  }
}

@mixin a-hover ($tag) {
  font-weight: bold;
  text-decoration: none;
  @if $tag {
    color: $laser-black;
  } @else {
    color: $gray-light;
  }
}

@mixin link ($tag) {
  a {
    @include a-link($tag);
    &:hover {
      @include a-hover($tag);
    }
    &:visited {
      @include a-link($tag);
      &:hover {
        @include a-hover($tag);
      }
    }
  }
}

@mixin tag-link {
  .tag {
    $tag: true;
    @include link ($tag);
  }
}
