.footer{
  @include span(12);
  padding: 2em;
  background-color: $gray-lightest;
  .menu{
    @include span(4);
    text-align: left;
    padding-left: span(1);
    li {
      padding-bottom: .75em;
    }
  }
  .sponsor{
    @include span(4);
    text-align: center;
    img {
      width: 50%;
      height: auto;
    }
  }
  .links{
    @include span(4);
    padding-left: span(1);
    text-align: left;
  }
  @media(max-width: 800px){
    .menu , .sponsor , .links {
      @include span(6);
    }
  }
}
