.header{

  a {
    text-decoration: none !important;
    color: #fff !important;
  }

  .responsive-navbar {
    @extend .nav;
    @extend .navbar;
    @extend .navbar-full;
    @extend .navbar-fixed-top;
    @extend .navbar-dark;
    background-color: $brand-warning;
  }

  .menu-button {
    @extend .navbar-toggler;
    @extend .hidden-lg-up;
  }

  .laser-logo {
    @extend .navbar-brand;
  }

  .collapse-toggle {
    @extend .collapse;
    @extend .navbar-toggleable-md;
  }

  .navbar-ul {
    @extend .nav;
    @extend .navbar-nav;
  }

  .sponsor {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }
}
