@import "susy";

.searchbox {
  @include full;
  padding-top: 20px;
  input.search_results {
    @include span(8 of 12) ;
    height: 35px;
    border-radius: 15px;
  }
  button {
    height: 50px;
    width: 50px;
    background-color: #FF0066;
    border-radius: 50%;
  }
}

.results {
  clear: both;
  @include span(8 of 12);
  .options {
    @include span(last 5 of 8);
    margin-bottom: 15px;
    .filter, .order{
      @include span(4 of 8);
      display: inline;
    }
    label {
      @include span(4 of 8);
      padding: 5px;
    }
    select {
      @include span(4 of 8);
      height: 25px;
      border-radius: 25px;
    }
  }

  .display {
    .gem_element {
      border-radius: 15px;
      border-color: #FF0066;
      border-style: dotted;
      margin-bottom: 15px;
    }
  }
}

.featured {
  //clear: both;
  @include span(4 of 12);
  background-color: #F1F1F2;
  border-radius: 25px;
  margin-top: 15px;
  text-align: center;
  padding-bottom: 20px;
  h3 {
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    margin-bottom: 15px;
  }
  .gem_featured {
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
    h4 {
      margin-top: 15px;
      font-family: 'Kaushan Script', cursive;
      font-size: 20px;
      text-align: center;}
  }
}

.popular {
  clear: both;
  @include span(4 at 9 of 12);
  background-color: #F1F1F2;
  border-radius: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  padding-bottom: 20px;
  h3 {
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    margin-bottom: 15px;
  }
  .gem_popular, .tag_popular {
    margin-left: 30px;
    margin-right: 30px;
    h4{
      margin-top: 15px;
      font-family: 'Kaushan Script', cursive;
      font-size: 20px;
    }
  }
}
