.index{
  .card-header {
    .index-card-left {
      @include span(9);
    }
    .index-card-right {
      @include span(3);
      text-align: right;
    }
  }
  .search {
    @include span(12);
    padding-bottom: 2em;
    .searchbox{
      @include span(7);
    }
    .order{
      text-align: right;
    }
  }
  .gem_element{
    @include gallery(4);
  }
  .infinite-scrolling{
    @include span(12);
    text-align: center;
    opacity: 0.7;
    clear: both;
    &:hover {
      opacity: 1;
    }
  }
}
