@import 'susy';
.search{
  @include span(8 of 12);

  .searchbox {
    @include span(7);
    padding-top: 20px;

    input.search_results {
      @include span(10);
      border-radius: 15px;
      height: 35px;
    }

    button {
      background-color: #ff0066;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      margin-top: -8px;
    }
  }

  .options {
    //clear: left;
    @include span(last 5);
    margin-bottom: 15px;
    padding-top: 30px;

    .filter, .order{
      display: inline;
    }

    label {
      padding: 5px;
    }

    select {
      border-radius: 25px;
      height: 25px;
    }
  }

  .results {
    clear: both;
    .display {

      .gem_element {
        border-color: #ff0066;
        border-radius: 15px;
        border-style: dotted;
        margin-bottom: 15px;
      }
    }
  }
}

.featured {
  @include span(4 of 12);
  background-color: #f1f1f2;
  border-radius: 25px;
  margin-top: 15px;
  padding-bottom: 20px;
  text-align: center;

  h3 {
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    margin-bottom: 15px;
  }

  .gem_featured {
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;

    h4 {
      font-family: 'Kaushan Script', cursive;
      font-size: 20px;
      margin-top: 15px;
      text-align: center;}
  }
}

.popular {
  @include span(4 at 9 of 12);
  background-color: #f1f1f2;
  border-radius: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 20px;
  text-align: center;

  h3 {
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    margin-bottom: 15px;
  }

  .gem_popular, .tag_popular {
    margin-left: 30px;
    margin-right: 30px;

    h4 {
      font-family: 'Kaushan Script', cursive;
      font-size: 20px;
      margin-top: 15px;
    }
  }

  .tag_popular {

    .tag_element {
      @extend .ui.labels;

      a{
        @extend .ui.label;
      }
    }
  }
}
