@import 'susy';

.search {
  @include span(8);

  .searchbox {
    @include span(7);
    padding-top: 20px;

    input.search_results {
      @include span(10);
      border-radius: 15px;
      height: 35px;
    }

    button {
      background-color: #ff0066;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      margin-top: -8px;
    }
  }

  .options {
    //clear: left;
    @include span(last 5);
    margin-bottom: 15px;
    padding-top: 30px;

    .filter, .order{
      display: inline;
    }

    label {
      padding: 5px;
    }

    select {
      border-radius: 25px;
      height: 25px;
    }
  }

  .results {
    clear: both;
    .display {

      .gem_element {
        @include span(12);
        border-color: #ff0066;
        border-radius: 15px;
        border-style: dotted;
        margin-bottom: 15px;
        padding: 10px;

        .gem_name {
          @include full;

          h2, span {
            display: inline;
          }
        }

        .gem_main {
          @include span(8);

          .gem_tags {
            @extend .ui.labels;

            h4 {
              @extend .ui.horizontal.divider;
            }

            a {
              @extend .ui.label;
              background-color: #ff0066;

              &:hover {
                background-color: #ff0066;
              }
            }
          }
        }

        .gem_numbers {
          @include span(last 4);

          .gem_statistic {
            @extend .ui.small.statistic;
            text-align: center;
          }

          .gem_favorites {
            @extend .ui.feed;
            clear: both;
            display: inline;
            text-align: center;

            a {
              @extend .like;
            }
          }
        }
      }

    }
  }
}

.featured {
  @include span(4);
  background-color: #f1f1f2;
  border-radius: 25px;
  margin-top: 15px;
  padding-bottom: 20px;
  text-align: center;

  h3 {
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    margin-bottom: 15px;
  }

  .gem_featured {
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;

    h4 {
      font-family: 'Kaushan Script', cursive;
      font-size: 20px;
      margin-top: 15px;
      text-align: center;}
  }
}

.popular {
  @include span(4);
  background-color: #f1f1f2;
  border-radius: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 20px;
  text-align: center;

  h3 {
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    margin-bottom: 15px;
  }

  .gem_popular, .tag_popular {
    margin-left: 30px;
    margin-right: 30px;

    h4 {
      font-family: 'Kaushan Script', cursive;
      font-size: 20px;
      margin-top: 15px;
    }
  }

  .gem_popular {
    .gem_popular_container {
      align-items: center;

      .cloud {
        display: inline;
        list-style-type: none;

        li {
          list-style: none;
          display: inline;

          &:nth-of-type(2n) {
            color: #ff0066;
            font-size: 1.25em;
          }

          &:nth-of-type(2n + 1) {
            color: #bb004b;
            font-size: 1.5em;
          }

          &:nth-of-type(3n) {
            color: #f578aa;
            font-size: 1em;
          }
        }
      }
    }
  }
  .tag_popular {
    clear: both;
    .tag_popular_container {
      @extend .ui.labels;
      a {
        @extend .ui.label;
        background-color: #ff0066;

        &:hover {
          background-color: #ff0066;
        }
      }
    }
  }
}
