// Place all the styles related to the laser_gems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.gem_element{
  .whole_info {
    display: none;
  }

  &:hover{
    .whole_info {
      display: inline;
    }
    .small_info{
      display: none;
    }
  }
  .card-left{
    @include span(8);
    text-align: justify;
  }

  .card-right{
    @include span(last 4);
    text-align: right;
  }
}
