.gem_show_left {
  @include span(8);

  .comments{
    @include span(12);
    i {
      vertical-align: middle;
      font-size: 1.9em;
      line-height: 1.9em;
    }
  }

}

.gem_show_right {
  @include span(4);
  .card-header i {
    vertical-align: middle;
    font-size: 1.9em;
  }
  .card-text i {
    vertical-align: middle;
    font-size: 1.5em;
    line-height: 1.5em;
  }

  .graph_box{
    width: 100%;
  }
  .index_graph{
    max-height: 200px;
    width: 100%;
  }
}
