.gem_show_left {
  @include span(8);
  .card-header{
    .header-left {
      @include span(9);
    }
    .header-right {
      @include span(3);
      text-align: right;
    }
    @media(max-width: 800px){
      .header-left {
        @include span(12);
      }
      .header-right {
        @include span(6);
        text-align: right;
      }
    }
  }

  .comments{
    @include span(12);
    i {
      vertical-align: middle;
      font-size: 1.9em;
      line-height: 1.9em;
    }
    textarea {
      width: 100%;
      margin-top: 1em;
    }
  }

}

.gem_show_right {
  @include span(4);
  .card-text i {
    vertical-align: middle;
    font-size: 1.5em;
    line-height: 1.5em;
  }

  .graph_box{
    width: 100%;
  }
  .index_graph{
    max-height: 200px;
    width: 100%;
  }
}
@media(max-width: 800px){
  .gem_show_left {
    @include span(12);
  }
  .gem_show_right {
    @include span(12);
  }
}
