/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *= require_self
 *
 */

@import 'susy';
@import 'breakpoint';
$enable-grid-classes: false;
@import 'bootstrap';

$susy: (
  columns: 12,
  gutters: 1/2,
  gutter-position: inside,
  math: fluid,
  output: float,
  container-position: center,
  debug: (
    image: hide, //show
    color: lightgreen,
    output: background
  )
);

@import 'faq';
@import 'about';
@import 'laser_gems';
@import 'index';
@import 'show';
@import 'main';
@import 'announcements';

html body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-color: #6C7A89;
  // #3e8979 0%, #8b2817 41%, #df412b 59%, #eca45c 77%, #ffffff 100%
  //background: linear-gradient(#3e8979, #8b2817, #8b2817, #eca45c); /* Standard syntax */
}


.header {
  @include container(100%);
  background-color: #EEEEEE;
  background-image: url("https://fanart.tv/fanart/movies/2667/moviebanner/the-blair-witch-project-51aece3a6d8cc.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
  z-index: -1;
  //TODO change absolute to relative height
  height: 20vh;
  border-bottom: 1px solid gray;
}

.logo {
  margin-top: 20px;
}

.thunderbolt {
  color: red;
  animation-name: strike;
  animation-duration: 2s;
}
@keyframes strike {
  0%{transform: translate(0px, -100px);}
  50%{transform: translate(0px, 0px);}
  60%{transform: translate(0px, 0px) scale(1.3,1.3);}
  70%{transform: translate(0px, 0px) scale(1,1);}
  80%{transform: translate(0px, 0px) scale(1.3,1.3);}
  90%{transform: translate(0px, 0px) scale(1,1);}
  100%{transform: translate(0px, 0px) scale(1.3,1.3);}
}

.tri1 {
  animation-name: fall;
  animation-duration: 2s;
}
.tri2 {
  animation-name: fall;
  animation-duration: 2s;
  animation-delay: 0.1s;
}
.tri3 {
  animation-name: fall;
  animation-duration: 2s;
  animation-delay: 0.2s;
}
.tri4 {
  animation-name: fall;
  animation-duration: 2s;
  animation-delay: 0.3s;
}
.tri5 {
  animation-name: fall;
  animation-duration: 2s;
  animation-delay: 0.4s;
}

@keyframes fall {
  0%{transform: translate(0px, 0px);}
  50%{transform: translate(0px, -100px);}
  100%{transform: translate(0px, 0px);}
}

.bigtri1.left {
  animation-name: fall-left;
  animation-duration: 2s;
}

.bigtri2 {
  animation-name: fall;
  animation-duration: 2s;
  animation-delay: 0.1s;
}

.bigtri3.right {
  animation-name: fall-right;
  animation-duration: 2s;
  animation-delay: 0.5s;
}

@keyframes fall-right {
  0%{transform: translate(0px, 0px);}
  50%{transform: translate(0px, 100px) rotate(90deg);}
  100%{transform: translate(0px, 0px);}
}

@keyframes fall-left {
  0%{transform: translate(0px, 0px);}
  50%{transform: translate(0px, 100px) rotate(-90deg);}
  100%{transform: translate(0px, 0px);}
}


.content {
  @include container(85%);
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer {
  @include container(100%);
  border-top: 1px solid gray;
  background-color: #EEEEEE;
  padding-top: 2.5em;
  padding-bottom: 2em;
  .col{
    @include span(3 of 12);
    border: 1px solid gray;
    text-align: justify;
    padding: gutter();
    :first-child{
    }
    :last-child{
    }
    .sponsor {
      p {
        color: #000000;
        font-family: sans-serif;
        font-size: 15px;
      }
      img {
        display: block;
        margin-left: auto;
        margin-right: auto
      }
    }
  }
}

a {
  text-decoration: none;
  color: #ff0066;
  &:hover {
    color: #ff0066;
    font-weight: bold;
  }
  &:visited {
    color: #ff89b8;
    font-weight: lighter;
  }
}
