/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *= require_self
 *
 */

@import 'susy';
@import 'breakpoint';
@import 'semantic-ui/globals/variables';
@import 'semantic-ui/elements/icon';
@import 'semantic-ui/elements/divider';
@import 'semantic-ui/elements/input';
@import 'semantic-ui/elements/label';
@import 'semantic-ui/views/comment';
@import 'semantic-ui/views/feed';
@import 'semantic-ui/views/statistic';

$susy: (
  columns: 12,
  gutters: 1/2,
  math: fluid,
  output: float,
  gutter-position: inside,
  container-position: center,
  debug: (
    image: hide, //show
    color: lightgreen,
    output: background
  )
);

@import 'faq';
@import 'about';
@import 'laser_gems';
@import 'index';
@import 'show';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.header {
  @include container(100%);
  background-color: #ff0066;
  height: 150px;
}

.content {
  @include container(85%);
}

.footer {
  @include container(100%);
  background-color: #f1f1f2;
  right: 0;
  bottom: 0;
  left: 0;
  height: 150px;

  .sponsor {
    @include span(2 of 12);

    p {
      color: #000000;
      font-family: sans-serif;
      font-size: 15px;
      margin-bottom: 1px;
      padding-top: 20px;
    }

    img {
      margin-left: 40px;
      width: 50%;
    }

    p {
      color: #000000;
      font-family: sans-serif;
      font-size: 15px;
      font-weight: bold;
      margin-top: 1px;
    }
  }
}

a {
  text-decoration: none;
  color: #ff0066;

  &:hover {
    color: #ff0066;
    font-weight: bold;
  }

  &:visited {
    color: #ff89b8;
    font-weight: lighter;
  }
}
