/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *= require_self
 *
 */

@import "susy";
@import "breakpoint";

$susy: (
  columns: 12,
  gutters: 1/2,
  math: fluid,
  output: float,
  gutter-position: inside,
  container-position: center,
  debug: (
    image: hide, //show
    color: lightgreen,
    output: background
  )
);

@import "faq";
@import "about";
@import "laser_gems";
@import "index";

body{
  width: 100%;
  margin: 0px;
}
.header {
  @include container(100%);
  height: 200px;
  background-color: #FF0066;
  margin-top: -35px;
}

.content{
  @include container(85%);
}

.footer {
  @include container(100%);
  height: 200px;
  clear: both;
  background-color: #F1F1F2;
  .sponsor {
    @include span(2 of 12);
    p {
      padding-top: 20px;
      margin-bottom: 1px;
      font-size: 15px;
      font-family: sans-serif;
      color: black;
    }
    img {
      width: 50%;
      margin-left: 40px;
    }
    p {
      margin-top: 1px;
      font-weight: bold;
      font-size: 15px;
      font-family: sans-serif;
      color: black;
    }
  }
}

a {
  text-decoration: none;
  color: #FF0066;
  &:hover {
    color: #FF0066;
    font-weight: bold;
  }
  &:visited {
    color: #FF89B8;
    font-weight: lighter;
  }
}
