%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
%title Laser
= csrf_meta_tags
= stylesheet_link_tag 'application', media: 'all'
= javascript_include_tag 'application'
%link{href: "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel:"stylesheet"}
%link{href: "https://fonts.googleapis.com/css?family=Kaushan+Script|Satisfy", rel:"stylesheet"}
%link{href: "https://fonts.googleapis.com/css?family=Pattaya|Raleway:900i|Timmana", rel:"stylesheet"}
%link{href: "https://fonts.googleapis.com/css?family=Courgette", rel:"stylesheet"}
